[2020-07-22 13:34] ekes opened #1 "Facets entity: menu items, position, admin input workflow..."
* [x] Correct location of menu items (move creating a bundle from structure to content)
 * [x] Add menu item in addition to task (it's presently just a tab on content)
 * [ ] Set up permissions (other roles might be given access to create facets)
 * [x] Confirm submit - next page (flow for editors creating a bundle, and then individual facets in the bundle)
 * [ ] Fix the config import / export ev

[2020-07-22 13:36] ekes opened #2 "Directory entry: Basic page"
* [x] fix opt-in channel facets switcher
 * [x] add final fields (tbc: documents, contact?)
 * [x] tests

Field types:
https://docs.google.com/spreadsheets/d/1Pc1ynwRKAnU9PVsDrYu1qjuf_Jal3E0Uim_A41VgcB8/edit#gid=0

[2020-07-22 13:38] ekes opened #3 "Directory entry: search box"
A search (free text) per channel for all directory entry pages.

Requires a switcher, either ajax or hide/show existing boxes.
Bonus search api autocomplete.

[2020-07-22 13:40] ekes opened #4 "Directory entry: venue"
Extend basic content type. With required location (localgov_geo) reference; plus additional venue related paragraphs.

[2020-07-22 13:41] ekes opened #5 "Directory entry: others"
Possibly a SEND special content type. Or other base on the finalized fields on
https://docs.google.com/spreadsheets/d/1Pc1ynwRKAnU9PVsDrYu1qjuf_Jal3E0Uim_A41VgcB8/edit#gid=0

[2020-07-22 13:43] ekes opened #6 "Directory channel: standard entries"
* [x] Services opt in
 * [x] Paths

anything else?

[2020-07-22 13:43] ekes opened #7 "Directory channel: venue"
* Additional map when there is locative data.

[2020-07-22 13:44] ekes opened #8 "Directory channel: Facets"
* [x] Alter the facet to break up entities by bundle type.
 * [x] Presentation.
 * [ ] Tests.
 * [x] Add facet to `localgov_directory` content type - either display block, or add block to extra fields.

[2020-07-22 13:45] ekes opened #9 "Search API"
All done, but requires deciding how to ensure index can be moved, backend db is optional and so forth.

[2020-07-30 09:32] ekes commented on #6
Directory channel is the content type `localgov_directory`

[2020-07-30 09:51] ekes commented on #9
Current situation:-
 * Packages with a default db backend
 * The index is associated with this index on installation.
 * As content types are added to be able to be posted in directories they are added to the index automatically (hook on the field instance creation).

Issues:
 * Facets need testing, that they don't get lost when there is actually no content type associated. If the search index doe

[2020-07-30 15:19] #2 closed

[2020-08-03 10:20] stephen-cox opened #12 "Directory tab should be called Channels"

[2020-08-03 11:56] ekes opened #13 "Permissions: anon"
Most permissions seem correct, but address and map as the rendered entity aren't visible to anon.

[2020-08-03 11:57] ekes commented on #12
Channels & Facets

It's a bit too explicitly the fields rather than the group. But...

[2020-08-03 11:58] ekes commented on #3
Without the bonus this is commit 593fa42b8e07cfaaa920ea30a2c7761642228b93

[2020-08-03 11:59] ekes commented on #5
Schools would be the next to do. If it's desired to package with more optional default content types. Instructions how to do this are added to the README for others.

So leaving open, but no longer required for sprint 6.

[2020-08-03 12:04] ekes commented on #8
Facets commit e7a9b3538c4fef437dcf3b74094811e32f240e60

[2020-08-03 12:10] ekes opened #14 "Directory areas: technical discovery / proof of concept"
Conservation areas, regeneration projects...

This entry would, as a Venue, include the location field, but allow referencing a new geo bundle for area rather than address.

 * [ ] Create new geo bundle type 'Area' (replace address field with string field for description), remove geocoding (unless the backend does areas), us leaflet input to allow drawing the area.
 * [ ] Duplicate the Venue conte

[2020-08-05 11:08] #1 closed

[2020-08-05 11:08] #9 closed

[2020-08-05 11:08] #6 closed

[2020-08-05 11:08] ekes opened #15 "Facets: Set up permissions (other roles might be given access to create facets)"
From #1

[2020-08-05 11:09] ekes opened #16 "Facets: config import/export"
From #1

Fix the config import / export event for excluding (by default) the bundle from exported (but not imported?) configuration. Optionally add an option to include it.

Fallback: just use config ignore.

[2020-08-05 11:10] ekes commented on #1
Two remaining moved out into new issues.

[2020-08-05 11:10] #4 closed

[2020-08-05 11:13] ekes opened #17 "Search: Search API Autocomplete"
Nice to have from #3

[2020-08-05 11:14] #3 closed

[2020-08-05 11:17] ekes opened #18 "Facet tests"
Spun out from #9 where the facets were made, but not fully tested.

[2020-08-05 11:18] ekes commented on #8
Tests moved into their own issue.

[2020-08-05 11:21] #7 closed

[2020-08-05 11:21] #8 closed

[2020-08-05 11:21] ekes commented on #13
Fixed in  localgovdrupal/localgov_geo#2

[2020-08-05 11:22] #13 closed

[2020-08-05 14:54] willguv opened #19 "Back end: Config change on all content types Make summary fields on Directory channel, venue and page open by default"
## eg on Directories

Directories are more clear if they have summaries written by content designers:

- on channels so extra description of the content can be provided if necessary, and the text can be surfaced in landing pages elsewhere on the site
- on venue and page content types so useful summaries appear on the directory channel page (the alternative is a trimmed version of the body)

The su

[2020-08-19 10:55] willguv opened #20 "Error in setting up a directory channel"
This page looks OK when you revisit

https://localgovdrupal.agile.coop/adult-health-and-social-care/will-test-channel

But you see this error message when you set up the page for the first time

Warning: array_diff(): Argument #2 is not an array in Drupal\Core\Entity\Plugin\Validation\Constraint\ValidReferenceConstraintValidator->validate() (line 134 of core/lib/Drupal/Core/Entity/Plugin/Validatio

[2020-08-19 10:56] willguv commented on #20
@ekes can you try setting up a new directory channel with the same values I entered? You should see the same error message

Thanks

[2020-08-19 11:04] willguv opened #21 "Ignore "The" at the start of a directory title name"

[2020-08-19 13:20] ekes commented on #20
I'll fix this in a moment.

But I've looked and can confirm you can also tell anyone testing that they can safely ignore this error. The error is only an issue if they have tried to tamper with the form and submit a value they aren't allowed to, that wasn't on the form. For all other cases it's just moaning, but everything is saved correctly. So don't let it hold up any testing.

[2020-08-19 16:17] ekes commented on #20
Has been committed in #22 so should be good on next deploy.

[2020-08-19 16:17] #20 closed

[2020-08-24 09:46] willguv opened #23 "Check url structure for directories"
[10:43] Callaghan, Will

In Local Gov Drupal, we need to:

- set the url alias at the channel level
- each entry has a 'primary channel' that it derives the url alias from

I think Ekes has done this already, but we ought to check

[2020-08-24 09:47] willguv commented on #23
Hi @ekes we're creating a few final directories in Croydon codebase

(They're schools, so we now know much more about them)

The url aliases are tying us up in knots, and I wanted to check that you'd fixed this in LGD - can you see note above and confirm this is how you've done it

Thanks!

[2020-08-24 09:55] ekes commented on #23
That's what it should do. The patterns in as descriptive english as I can make it are:-

For the channels:-
/channel-title
or if the channel is put into a service
/service-parent/channel-title

And for the pages put into the channel:-
/primary-channel-title/page-title
or if the channel is in a service
/primary-channel-service-parent/primary-channel-title/page-title

[2020-08-24 10:25] willguv commented on #23
@ekes top work, that's exactly what we need. Sorry to disturb

[2020-08-24 11:50] Adnan-cds commented on #23
Thanks @ekes.  ``localgov_directories_pathauto_pattern_alter()`` has made my life easier today :)

[2020-08-24 15:46] andybroomfield commented on #23
Just to check that if a prefix of /directories/ was wanted, it could still work that way?

[2020-08-24 17:11] ekes commented on #23
Yes you'd put that on the alias of the parent. That's inherited into the pages.

If you put them into services though the service would come first so it would be service-landing-title/directories/channel-title.

[2020-09-02 16:17] finnlewis opened #24 "Testing - add github workflow to trigger testing"

[2020-09-04 13:30] willguv opened #26 "Show areas and lines on a directory"

[2020-09-04 13:37] willguv opened #27 "Discussion - integrate Open Referral data standard"
Past Croydon discussions

https://trello.com/c/4bNzOTUy/254-05d-adnan-review-open-referral-spec

https://trello.com/c/wtiFNf0P/255-provide-open-referral-mappings-for-existing-directory-entry

[2020-09-07 10:46] Adnan-cds commented on #27
Based on my understanding from previous discussions, we can support the [Open Referral data standard](https://openreferraluk.org/) by publishing Directory data in JSON format.  Drupal core's built-in **jsonapi** module makes it easy to offer node data in JSON format.  We can explore that.

Some relevant URLs:
- JSON API description: https://api.porism.com/ServiceDirectoryService/swagger-ui.html#/S

[2020-09-08 14:56] stephen-cox opened #28 "Tests fail which break tests for all repos"

[2020-09-09 15:48] finnlewis commented on #28
I've been looking at the schema test failures, alongside @stephen-cox

It looks like:

 - The schema that is failing is that of the exported view's attachment view that provides the leaflet map
 - The schema appears to be defined here https://git.drupalcode.org/project/leaflet/-/blob/2.0.x/modules/leaflet_views/config/schema/leaflet_views.style.schema.yml
 - Installing config_inspector and going t

[2020-09-09 16:02] finnlewis commented on #28
I've also tried changing the view from an attachment view to a block view, re-exporting and re-installing from config, in case it is a quirk of views attachments. Still the same 'missing schema' errors.

[2020-09-09 16:23] finnlewis commented on #28
I've confirmed this on a vanilla install and posted my findings on the issue that @stephen-cox has already posted a patch to: https://www.drupal.org/project/leaflet/issues/2883700#comment-13817106

[2020-09-09 16:24] stephen-cox commented on #28
It certainly seems like the [leaflet_views.style.schema.yml](https://git.drupalcode.org/project/leaflet/-/blob/2.0.9/modules/leaflet_views/config/schema/leaflet_views.style.schema.yml) file should be providing some of the missing schema. It's providing schema for the `leaflet_map` views style plugin as defined in the [LeafletMap](https://git.drupalcode.org/project/leaflet/-/blob/2.0.9/modules/leaf

[2020-09-10 13:07] cjstevens78 opened #30 "(Directories) Search and Facet component page positioning"
For the main theme, we require the 'search' and 'facet' components to be rendered into the 'sidebar' area of the page template for all directory templates. For Directory Channel, currently the search and facet components are intertwined with the Directory listings and rendered within the 'body'. For the Directory Venue template we dont see these options at all.

[2020-09-11 09:36] andybroomfield commented on #30
From memory, these are rendered as psudeo fields rather than a block.
We could look at how to render the EVA view exposed form as a block (not directly supported if I remember correctly) or Use layout builder or in the theme to push render the form seperatly.

[2020-09-11 09:54] Adnan-cds commented on #28
Sorry Finn, I haven't had the chance to look into it at all.  The Drupal [documentation for config schema](https://www.drupal.org/docs/drupal-apis/configuration-api/configuration-schemametadata#use) says strict schema check can be turned off in a test by adding ```protected $strictConfigSchema = FALSE;```.  It does not recommended this of course. Since these schema issues are breaking all our test

[2020-09-16 10:10] finnlewis commented on #30
From standup: Adnan has been having trouble with this. Placing the block contnent in the sidebar is not working.
Drupal is attempting to render the block in a clever / lazy loading manner, so the page template does not know if it has a sidebar or not.

This is a common approach, but maybe it needs to be reviewed.

@Adnan-cds is trying work arounds.... like pre-rendering.... but this breaks.

@Adna

[2020-09-16 11:22] Adnan-cds commented on #30
Blocks employ [lazy building](https://www.drupal.org/docs/8/api/render-api/auto-placeholdering).  This makes it difficult to determine from **Twig templates** if they will eventually produce empty content or not.  [Relevant code from our page template.](https://github.com/localgovdrupal/localgov_theme/blob/231234f2cb87663dce89445a6a80edf059e4b6bc/templates/system/page.html.twig#L53)

Relevant link

[2020-09-17 11:40] Adnan-cds commented on #28
Hi Finn,
This issue is resolved now, right?

@finnlewis @stephen-cox

[2020-09-17 11:59] Adnan-cds opened #34 "Facet related WSOD on new install of localgov_directories module"
The localgov_directories_facets facet is having trouble immediately after installing the localgov_directories module.

Error message from WSOD:
[code]

## How to reproduce
### One way
- Install the localgov_directories module.
- Check the Facet config page at /admin/config/search/facets.
- The **localgov_directories_facets** Facet should be listed.
- Try to edit this Facet.  This should result in

[2020-09-17 12:07] Adnan-cds commented on #34
Just to clarify: this issue is not related to the Facets block.  It happens in the [current master branch at commit 4eb488](https://github.com/localgovdrupal/localgov_directories/commit/4eb4888bb68e10cc021c73c38f0139b9df626572)

Once the [pull request for placing the Facets block in Directory channel pages](https://github.com/localgovdrupal/localgov_directories/pull/32) is merged, everyone who ins

[2020-09-18 14:09] #28 closed

[2020-09-21 10:30] #30 closed

[2020-09-22 11:36] Adnan-cds opened #35 "Sort Facet items by weight"
A weight property should allow us to manually order Facet type and Facet items.  At the moment these are ordered alphabetically.

Sub tasks:
- [x] Add *weight* property to the *localgov_directories_facets* and *localgov_directories_facets_type* config entities.
- [x] Update [Drupal\localgov_directories\LocalgovDirectoriesFacetsListBuilder](https://github.com/localgovdrupal/localgov_directories/blo

[2020-09-23 08:55] stephen-cox opened #36 "Directory content type names should only have first letter capitalized and config needs a description"
Only first word should be capitalized for consistency
- https://github.com/localgovdrupal/localgov_directories/blob/27112a3a05689588a6ed7f641a0332ef52d948ec/config/install/node.type.localgov_directory.yml#L4
- https://github.com/localgovdrupal/localgov_directories/blob/27112a3a05689588a6ed7f641a0332ef52d948ec/modules/localgov_directories_page/config/install/node.type.localgov_directories_page.yml#

[2020-09-23 09:37] #23 closed

[2020-09-23 11:47] finnlewis commented on #35
Note: @stephen-cox thinks this might be harder than it sounds!

[2020-09-24 10:16] stephen-cox opened #38 "Display of directory items on channel page should use teaser display mode"
As mentioned in point 5 on https://github.com/localgovdrupal/localgov_theme/issues/85, the display of directory items on a channel page should use the node teaser view instead of the default view.

There is some code that sets this, but this was commented out because it breaks the tests: https://github.com/localgovdrupal/localgov_directories/blob/27112a3a05689588a6ed7f641a0332ef52d948ec/localgov_d

[2020-09-24 10:16] stephen-cox commented on #38
@cjstevens78 @Adnan-cds This is the issue we were just discussing at standup

[2020-09-24 11:02] Adnan-cds commented on #38
Thanks Steve :)  I will see if I can do anything about it.

[2020-09-25 08:27] #36 closed

[2020-09-25 10:25] Adnan-cds opened #39 "Display Facet items as checkboxes"
At the moment, Facet items are displayed as links by default.  These should appear as checkboxes instead.

Subtasks:
- Update Facet config.
- Arrange Twig template for checkbox-based Facet items.
- Export Facet config.

Related ticket: https://github.com/localgovdrupal/localgov_theme/issues/85

@cjstevens78 @finnlewis

[2020-09-25 12:56] stephen-cox opened #40 "Add Simple Sitemap settings to directory nodes"

[2020-09-30 08:48] #39 closed

[2020-09-30 09:23] Adnan-cds opened #43 "Non-existent localgov_directory_channels field leading to errror msg in fresh install"
### Severity
Minor

### How to reproduce
- Install the localgov_directories module.
- Check the watchdog for "error" messages.  There should be two messages from the search_api module.

### Error messages
- Drupal\search_api\SearchApiException while computing Views data for index Directories: Could not retrieve data definition for field ''Directory channels'' on index ''Directories''. in Drupal
-

[2020-09-30 09:56] #34 closed

[2020-09-30 09:56] #38 closed

[2020-09-30 11:23] Adnan-cds commented on #18
Possible test steps for a Functional test:
- Set the test theme to *localgov_theme*.
- Create a Directory facet type (e.g Location).
- Add a few Directory facet items (e.g. North, South, etc.) of the above type.
- Create a Directory channel node and tell it to use the above Facet type.
- Create another content type to serve as Directory entry.  Place this content type in the above Directory channe

[2020-10-01 13:44] Adnan-cds opened #45 "Better Facet markup"
Current Facet markup generated by the [facets-item-list--links--localgov-directories-facets.html.twig](https://github.com/localgovdrupal/localgov_directories/blob/2b24950cc6e9c6f45829ef7fdc66ec0c6197407f/templates/facets-item-list--links--localgov-directories-facets.html.twig#L48) template does not entirely conform to the HTML5 convention.  It has ul elements as direct children of another ul eleme

[2020-11-03 16:00] ekes commented on #43
Added the similar assumption in localgov_events.

The fact that the directories content type also requires directory channels is also possibly incorrect. I've just created one where all the filtering - so far - that is requested is on location, so no channel.

[2020-11-09 18:30] Adnan-cds commented on #24
This is done :)

[2020-11-09 18:30] #24 closed

[2020-11-14 19:32] ekes opened #52 "Map attachment"
Follow-up to https://github.com/localgovdrupal/localgov_directories/pull/50

I've discovered at least the way we're adding the embed to the content causes views to run Attachment::buildRenderable which causes it to getCacheTags which down the line causes search_api to run preExecute which applies all its processors.

So it's no running the query, just getting the cache tags for the render array, b

[2020-11-16 11:06] #35 closed

[2020-12-04 11:37] tanc opened #56 "Pager not showing the full amount of items"
I notice that when using a full pager on the list view it doesn't show all the items and instead shows up to the current page. So if have 10 pages of items, on page 1 you'd only see 2 pages in the pager instead of all 10.

The fix is to change the pager id in the view to 1 instead of the default 0.

[2020-12-04 11:38] tanc commented on #56
[code]

[2020-12-14 12:17] Adnan-cds opened #57 "Sorting order of Directory entries"
Hi Ekes,
I am trying to understand if the lack of a **Sorting criteria** on the Directory channel view (machine name: localgov_directory_channel) is a feature or a bug.  Could you please confirm.

I was about to add a Sorting criteria based on page Title on this View.  But then wondered if the Search API is supposed to dictate the ordering.  [Example URL](https://new.croydon.gov.uk/schools-and-edu

[2020-12-15 10:24] Adnan-cds opened #58 "Item count above Directory entry listing"
In the BHCC codebase, the Directory listing displays an item count above the listing.  Example text from an [example URL](http://brightonhove3stg.prod.acquia-sites.com/directories/public-toilets): *Displaying 1 - 10 of 92 results*

We are missing this small feature in LocalGov as you can see in the [LocalGov Croydon site](https://new.croydon.gov.uk/schools-and-education/schools/find-school-near-yo

[2020-12-15 11:35] andybroomfield commented on #58
Is localgov directories still a view? In that case its just a case of adding it as a view summary. We just used the default one in views.

[2020-12-15 12:03] Adnan-cds opened #59 "Fix Teaser view mode of the Directory channel content type"
The Directory channel content type's **Teaser** view mode is currently no different from its **Default** view mode.  The Teaser view mode should only display the body summary or trimmed body content similar to the Directory entry content types (e.g. localgov_directories_page)

FAO @finnlewis @willguv

[2020-12-15 19:21] ekes opened #60 "Search results: Add template for directory index view mode for directory entry and venue"
Should include a simple template for the view modes - with title in a H1 at least.
I've also gone for adding an H2 for the address as a string.

Also check that the HTML filter for weighting results by tags is on.

[2020-12-22 14:44] ekes opened #63 "Channel widget: Granularity"

[2020-12-22 14:48] ekes commented on #63
At it's simplest it just needs

[code]

To stop showing the secondary when you can only select one, plus tests; but then should also do something to limit < unlimited?

[2020-12-22 14:49] ekes opened #64 "Channel widget: default / javascript"
#62 fixes most issues with the default, however it could also have changes to the widget displayed if it's in default_value mode:
 * Change the show/hide javascript so it works as it does when on the node form
 * Add an option to remove a default.

[2020-12-24 15:42] andybroomfield commented on #59
From import into BHCC. The maps and search forms are being displayed.

![screencapture-localgov-bhcc-test-directories-special-educational-needs-and-disability-support-2020-12-24-15_40_03](https://user-images.githubusercontent.com/1467480/103097214-8167b800-45fe-11eb-8bf8-a82df0943868.png)

[2020-12-24 15:45] andybroomfield commented on #59
The view Directory channel (Index Directories) needs to be updated /admin/structure/views/view/localgov_directory_channel

[2020-12-24 15:59] andybroomfield opened #66 "Seperate the search widget and facets as placeable blocks"
Currently the search widget and facets are embeded in the page, I can' see how to move them into the sidebar without rewirting the template.

[2020-12-24 16:02] ekes commented on #66
Additional feature request to this:-

Separate the facet blocks into two: facets enabled for this channel; facets in results.

There are facets enabled for the channel, but if entries are in more than one directory results can include other facets. There are use cases for both displaying and not showing the facets that surface in the results.

[2020-12-30 18:08] finnlewis opened #67 "PHP 7.4 causes tests to fail wtih "Trying to access array offset on value of type null""
While testing the PHP 7.4 in Lando locally, there are a number of tests that fail.

Most of them seem to have the same error message :

Trying to access array offset on value of type null

[code]

[2020-12-30 18:17] finnlewis commented on #67
This points to line in system.module:

https://git.drupalcode.org/project/drupal/-/blob/8.9.x/core/modules/system/system.module#L1444

[code]
Running the test in question with xdebug reveals that it cycles through this hook_ENTITY_TYPE_presave a few times just fine, then gets to

[code]
at which point
[code]
fails to load a plugin_definition and so line 1444 has a hissy fit as we're trying to acce

[2021-01-04 10:01] andybroomfield commented on #66
Changed issue title. I did find that the blocks could be placed, and looking at the module code the psuedo fields place the blocks within the template. This means that whilst it is possible to place the blocks, they do not replace the psuedo fields and are duplicated. This may be minor as its possible to remove them in manage display screen. However It would be better to offer a single route (Plac

[2021-01-04 14:46] Adnan-cds commented on #67
I have no idea really.  This is clearly specific to PHP 7.4.

[2021-01-04 21:41] finnlewis commented on #67
As far as I understand, the thing that is specific to PHP 7.4 is that it does not fail silently when trying to access a key of an array that does not exist.
So I think PHP 7.4 is exposing the situation, where either:

a) the core code is not written to be robust enough to deal with a NULL return from
[code]

or b)
our configuration is missing some definition for a widget on one of our fields.

I a

[2021-01-04 22:38] finnlewis commented on #67
I've created a patch that allows all the tests to pass with PHP 7.4.

[code]

It's getting a bit late now, so I'll create an issue tomorrow and get the patch uploaded to Drupal.org to see if we can build with this and invite others to comment. The approach looks fairly consistent with the patch on https://www.drupal.org/project/drupal/issues/3086374, see https://www.drupal.org/files/issues/2020-02

[2021-01-05 11:38] finnlewis commented on #67
I've created a pull request with a patch on https://github.com/localgovdrupal/localgov/pull/170

[2021-01-14 11:45] ekes opened #68 "Don't allow directories to uncheck content types once there is content"
When you have created a directory and posted content into it you shouldn't be able to remove that content type from it.

[2021-01-14 11:47] ekes opened #69 "Don't allow creation of a directory entry if it can't be posted into any directory"
If there is no directory that accepts a content type, but the content type needs a directory, the user needs a warning that they need to create a directory that accepts the type first.

[2021-02-16 11:48] willguv commented on #57
Hi @ekes any thoughts on this? Ta

[2021-02-16 11:57] ekes commented on #57
Think it should have a sort relevance, and maybe a second (lower priority sort for the times there's no search operating).

[2021-03-09 15:12] willguv opened #72 "Back end: Rename "Directory" tab "Channels and facets""
On "directory venue" and "directory page" content types, the "Directory" channel does not describe the options beneath

We should call this tab "Channels and facets" as they're the options a content designer can select from

See screenshots for an example

[2021-03-09 15:13] willguv commented on #72
<img width="1233" alt="Directory tab" src="https://user-images.githubusercontent.com/708140/110492320-fae55180-80e9-11eb-9a61-47affe878fe6.png">
<img width="1246" alt="Directory tab 2" src="https://user-images.githubusercontent.com/708140/110492327-fc167e80-80e9-11eb-8235-c7f1a44015fe.png">

[2021-03-10 10:22] willguv opened #73 "Configure Search API DB to deliver more useful results"
Croydon Hotjar data suggests that search takes 10% of the clicks on a typical landing page, but we've anecdotal evidence that the results aren't as good as they could be

Examples:

"aero drome" won't find "aerodrome"

"children's" won't find "children"

## Discussed with @stephen-cox and @ekes on 21 May

Search API DB allows basic fixes for:

- stemming/ plurals
- ignoring apostrophes
- ignoring

[2021-04-23 10:04] markconroy commented on #45
I came to post the exact same issue, but to suggest different mark up.

I think markup like this might make more sense.

[code]

[2021-04-23 10:42] cjstevens78 commented on #45
@Adnan-cds @markconroy  I agree it doesn't make much sense to have the the facet parent container as a  list and would generally go with what Mark has suggested above however, id be wary of introducing this BEM 'everythings got a class' approach when no other modules have it - unless they are all being re-written as part of the wider re-structuring?

[2021-04-27 13:16] markconroy commented on #45
If we have a template and the ability to add a class, we might as well. If we are not writing a template (and maybe this template is not needed at all), then it would make sense to just use Drupal classes whatever they may be.

[2021-04-28 14:00] ekes opened #75 "Tag 1.0.0"
As per localgovdrupal/localgov#194 localgovdrupal/localgov#200

PR:  not really blocking but would be good to have as they are written #71 #74
Issue: Plenty of open issues to fix but nothing blocking.

[2021-05-04 12:00] Adnan-cds opened #76 "Refactor how identical exposed filter forms are hidden"
The Directory channel pages and Directory pages end up with identical exposed filter forms when a search block is present in the sidebar. Currently we are hiding these redundant forms using CSS.  There has been [a proposal to entirely remove unneeded forms](https://github.com/localgovdrupal/localgov_directories/pull/74#issuecomment-829235007) using form_alter() or something similar.

[2021-05-05 15:32] stephen-cox opened #79 "Drupal 9 coding standards and deprecation issues"
## Coding standards
[code]

## Deprecations
[code]

[2021-05-06 13:43] ekes commented on #75
https://github.com/localgovdrupal/localgov_directories/releases/tag/1.0.0

[2021-05-06 13:43] #75 closed

[2021-05-10 10:32] #79 closed

[2021-05-19 11:14] willguv commented on #14
@ekes this is a possible for discussion on Friday

I'll start pasting in examples here:

## Conservation areas

This directory uses PDFs to show conservation area boundaries

https://www.croydon.gov.uk/planning-and-regeneration/planning/planning-policy/conservation-and-heritage/conservation-areas-directory

https://www.croydon.gov.uk/sites/default/files/Planning/Conservation%20areas/Beulah_hill_ma

[2021-05-19 11:22] willguv opened #86 "Summary field should be open by default"
The directory channel page provides a better experience for users if summary content is written by a content designer

At present, the summary field is hidden by default. A content designer has to click "edit summary" to see it

See https://localgovdrupal.agile.coop/node/add/localgov_directories_venue

The summary field should be open by default

-- Later --

We should review all content formats t

[2021-05-19 11:30] willguv opened #87 "Back end: Fix map display on venue tab"

[2021-05-19 11:34] willguv commented on #87
Create a new directory venue type at https://localgovdrupal.agile.coop/node/add/localgov_directories_venue

Click on the "venue" tab

The map seems to be misbehaving at lower screen resolutions

This is what I see on my laptop

![1](https://user-images.githubusercontent.com/708140/118805756-35176000-b89e-11eb-951e-ed6bc01ec0b7.png)

![2](https://user-images.githubusercontent.com/708140/118805771-3

[2021-05-19 11:47] willguv opened #88 "Back end: Facets should be listed A to Z"
On https://localgovdrupal.agile.coop/node/59/edit?destination=/admin/content in the "directory" tab, the facets should be listed A to Z so it's easier for content designers to find the facets they need

The directory tab name is changing to "Channels and facets" see
https://github.com/localgovdrupal/localgov_directories/issues/72

[2021-05-19 11:51] willguv opened #89 "Back end: Move accessibility field down the page"
On https://localgovdrupal.agile.coop/node/46/edit?destination=/admin/content, venue tab

1) Move the "accessibility" field down the page to between opening times and notes

2 Change the title of the field to "Venue accessibility"

This puts the map and address next to each other, and lists the optional info fields in the correct order

[2021-05-19 11:56] willguv opened #90 "Back end: Address fields don't complete automatically"
Create a directory venue page at https://localgovdrupal.agile.coop/node/add/localgov_directories_venue

Go to the venue tab

Enter any postcode eg BN21 4EQ

Helper text on the address fields:

"Should be filled in automatically on submission by the map search. If for any reason this fails you can complete it manually here."

The address isn't filled in automatically on submission of the map fields

[2021-05-19 13:04] ekes commented on #90
Part of this work is here https://github.com/localgovdrupal/localgov_geo/pull/11

To make the geocoding UX better.

But in the end if it geocodes a postcode depends on the geocoder used. OpenstreetMap Nominatim is the default geocoder because it works without configuration for small number of queries - unlike every other alternative. However thanks to the privatization/ownership of postcodes it ha

[2021-05-19 14:22] willguv commented on #19
@willguv to check with Croydon that they have this functionality

Croydon previously reported that they were unable to add a summary to a directory channel, or include links

eg on https://new.croydon.gov.uk/planning-and-regeneration/regeneration/regeneration-projects-croydon/search-regeneration-projects-croydon

[2021-05-19 14:25] willguv opened #91 "Back end: Add link to a summary field on a Directory channel"
This was previously raised by Croydon

- check it's needed by them and others
- find examples

[2021-05-19 19:50] willguv commented on #90
Thanks @ekes. Sounds like we can’t do anything else with this - shall I close it?

[2021-05-19 19:56] willguv commented on #90
Or we could change the wording slightly….

“These fields are often completed automatically, depending on the type of maps you’re using. If this does not work, you can enter an address manually.”

[2021-05-20 07:52] ekes commented on #90
I think there are usability improvements to make hence localgovdrupal/localgov_geo#11 With that you enter the address rather than auto completing it, and then press a button to 'look it up', it allows for more feedback.

In addition I think we can do something to make it clearer to the people setting up the site.

So lets leave this open, at least as long as the one on LocalGov Geo is open as a re

[2021-05-20 08:38] andybroomfield commented on #90
We're currently looking at using our local geo data service, we did do an experimental geocoder plugin, and we're currently looking at it again for use in our webforms.

We are able to do postcode searches for anything within Brighton, assuming you have simmilar data you should be able to build a geocoder plugin (it depends on your backend as we have a Mendix app to bridge the gap)

[2021-05-20 09:15] willguv opened #92 "Discovery: Open Referral standard"
We've a long standing commitment to explore this standard and implement it on content that's appropriate - mainly around community/ self help services

Ryan and I are exploring this - details to follow

[2021-05-20 09:30] RyanFH257 commented on #92
I've reached out to Mike Thacker about meeting up to discuss how we can implement the standard. But I've picked this up from the forum on the Open Referral UK website:

From our [main website](https://openreferraluk.org/), go to [For developers 1](https://developers.openreferraluk.org/). From there, the Data standard | [Guidance 1](https://developers.openreferraluk.org/Guidance/) page shows the da

[2021-05-20 09:31] willguv commented on #92
Thanks @RyanFH257

[2021-05-20 17:08] willguv opened #93 "Search panel appears twice on Directory channel"
See https://localgovdrupal.agile.coop/adult-health-and-social-care/money-employment-and-training-directory

The search panel should appear in the left hand column, not in the main column

[2021-05-20 17:10] willguv opened #94 "Channel dropdown issue on Directory venue and Directory page"
On https://localgovdrupal.agile.coop/adult-health-and-social-care/money-employment-and-training-directory/get-online-home and https://localgovdrupal.agile.coop/localgov-drupal-collaborators/annertech the search panel in the left hand column includes a channel drop down menu

eg

<img width="584" alt="Screenshot 2021-05-20 at 18 10 43" src="https://user-images.githubusercontent.com/708140/119020949

[2021-05-20 17:37] willguv opened #95 "Not able to create a directory venue as map UX has disappeared"
See https://localgovdrupal.agile.coop/node/add/localgov_directories_venue, click on venue tab

Other venues seem to have no map either https://localgovdrupal.agile.coop/node/51/edit

<img width="1062" alt="Screenshot 2021-05-20 at 18 37 39" src="https://user-images.githubusercontent.com/708140/119024140-ab998800-b99a-11eb-9c22-ff16df62d80f.png">

## Update

Maps are not visible to content designer

[2021-05-21 09:28] willguv opened #96 "Back end: Remove excessive borders on map UX"
On https://localgovdrupal.agile.coop/node/69/edit?destination=/admin/content the map window is surrounded by 4 borders - a bit excesssive

Is there a technical reason for this? Can we remove some of them?

[2021-05-21 10:27] finnlewis commented on #94
@ekes suggests that we change the drop down to just text if there is only one option.

If there are multiple, the drop down should show

[2021-05-21 10:27] finnlewis commented on #93
@ekes has tried to replicate this problem, without success so far.

[2021-05-21 10:30] finnlewis commented on #87
@markconroy is this something you can help us with ? It looks like a gnarly problem with positioning calculation for the map container. @ekes looked at this and it all got a bit heavy!

[2021-05-21 11:02] willguv commented on #87
In addition, this was a separate issue but it's related

## Remove excessive borders on map UX #96

On https://localgovdrupal.agile.coop/node/69/edit?destination=/admin/content the map window is surrounded by 4 borders - a bit excesssive

Is there a technical reason for this? Can we remove some of them?

[2021-05-21 11:05] willguv commented on #19
@ekes @stephen-cox if it's easier to make this a global change (ie all summaries open) let's do it

[2021-05-21 11:09] willguv commented on #19
Agreed to make this a global change for all new sites. Will to investigate impact later https://github.com/localgovdrupal/localgov/issues/243

[2021-05-21 11:13] willguv commented on #90
Let's consider new wording based on the map types you're using

[2021-05-21 11:15] willguv commented on #89
Agreed with @ekes and @stephen-cox to put accessibility under map/ address

[2021-05-21 11:23] willguv commented on #14
Discussed with @ekes and @stephen-cox - needs a write up of the practical ways maps can be added by a content designer

[2021-05-21 11:29] willguv commented on #73
Search API DB allows basic fixes for

stemming/ plurals
ignoring apostrophes
ignoring spaces

Let's also check what's being indexed to give us the best results we can

[2021-05-21 11:36] stephen-cox opened #97 "Directory maps only show that items on the current page"
The map on a directory channel only displays the items in the current listing page, not all the items in the channel.

Annertech should be on the map here: https://localgovdrupal.agile.coop/localgov-drupal-collaborators, but instead are on the map here: https://localgovdrupal.agile.coop/localgov-drupal-collaborators?search_api_fulltext=&page=1. The maps on both these pages should show all items.

[2021-05-21 11:47] willguv opened #98 "Log search keywords entered by citizens"
As noted in https://github.com/localgovdrupal/localgov_directories/issues/73, we don't always get the best results from the directories search

This has been anecdotal so far, and we need to collect better data

As a content designer

I need to see a list of keywords entered by citizens

So I can check the results they receive are as expected

a/c

- list ordered by number of searches, most first

[2021-05-24 11:19] markconroy commented on #87
Do we know if this issue is coming from the Drupal module or from our theme? Judging by the screenshots it's coming from the module or the Claro theme.

[2021-05-24 12:21] finnlewis commented on #87
Good question @markconroy. I suspect it is the Drupal module and / or field group tabs and / or Claro theme.

[2021-05-24 12:38] willguv opened #99 "Conditional targeting of service status messages"

[2021-05-24 12:39] #99 closed, assigned to nobody

[2021-05-24 13:10] willguv commented on #97
@Adnan-cds might have fixed it already - please chat @ekes

[2021-05-24 13:12] willguv commented on #93
@Adnan-cds may have started this

[2021-05-24 13:19] willguv commented on #14
@tom-steel to add KMZ files as an example

[2021-05-24 13:23] tom-steel commented on #14
Here are two example shape files - the borough boundary and a park boundary
[Croydon KML shape files.zip](https://github.com/localgovdrupal/localgov_directories/files/6532612/Croydon.KML.shape.files.zip)

[2021-05-24 13:46] markconroy commented on #87
That issue with the map looking funky in the location field of a venue node is one I have seen before. It’s happened to us when trying to load a map inside a vertical tab. Check out this for a cool way to mess with your head:
- Open /node/add/localgov_directories_venue
- Click on the location tab
- Map looks funny
- Right click on map and inspect element
- Map now looks fine
- Opening inspector ca

[2021-05-24 14:17] markconroy commented on #87
Here we go. We need to invalidate the map size when the tab is opened. Currently when the map loads initially the size is not set since the tab is closed.

https://stackoverflow.com/questions/36246815/data-toggle-tab-does-not-download-leaflet-map

[2021-05-24 14:26] Adnan-cds commented on #93
I remember we had this issue for a short while.  I can see that https://localgovdrupal.agile.coop is not using the latest code of the localgov_directories module.  Perhaps a code deployment will resolve this.

[2021-05-24 14:29] Adnan-cds commented on #97
It was a minor change to the Directory listing view that Tom asked for.  Example page: https://www.croydon.gov.uk/schools-and-education/schools/find-school-near-you/primary-infant-and-junior-schools - if this is what you are after then please try the following patch:
[code]

[2021-05-24 14:37] willguv commented on #97
Hi @Adnan-cds we were looking at the same bug. We'll have a look at the patch and get back to you with any questions. Thanks very much!

[2021-05-24 14:39] willguv commented on #94
@ekes I've looked at the original pattern, as designed by @clearspotmedia

<img width="189" alt="directory-search-box" src="https://user-images.githubusercontent.com/708140/119363836-2b2e9c00-bca6-11eb-8c58-709e4a369eb5.png">

If a venue or page is in more than one channel, the "in" and drop down menu appear

If it's not, they're hidden

What do you think?

[2021-05-24 14:41] willguv opened #100 ""Back to search results" link [now repeats?]"
The original Croydon design for directories included a "back to search" results link above the search box

![directory-entry-top](https://user-images.githubusercontent.com/708140/119364251-9ed0a900-bca6-11eb-9d00-f48fe8ef9937.png)

This is shown if a user has reached this page from a directory channel. The link takes them back to the channel with the same facets applied as when they left it

If th

[2021-05-24 16:01] willguv commented on #94
This hasn't had a lot of testing, but think it's a step forward from what we have. I'd like us to run some exhaustive testing on Directories, and this is the pattern I'd like included in those tests

[2021-05-25 08:48] willguv commented on #92
Possible meeting with Mike this Friday 28th at 3.30 to answer any tech questions

[2021-05-26 10:55] finnlewis commented on #92
@willguv would like us to start with a technical review of this ahead of a meeting with Mike Thacker.

Passing to @ekes for an initial review.

Probably just a few hours initially before deciding what's next.

[2021-05-26 11:12] finnlewis commented on #21
@ekes could you write down your solution to this?

[2021-05-26 11:17] finnlewis commented on #14
@ekes Start this with a proof of concept to define a new geo entity?

[2021-05-26 11:21] finnlewis opened #103 "Directory addresses default to UK addresses, can we support Irish too?"
@markconroy highlighted that the default address only allows UK addresses.

It would be good to allow the options for Ireland too....

@danchamp @ekes thoughts?

[2021-05-26 18:32] Adnan-cds commented on #97
Hi Will,
Tom has asked me to raise a pull request for this.  So you can assign this task to me :)

[2021-05-27 14:08] ekes commented on #100
Basically just the browsers back button then.

You can duplicate the browsers back button with javascript simply, it should be possible to restrict this to be displayed if the path looks like one that was the directory landing page.

[2021-05-27 14:15] willguv commented on #100
@ekes yep exactly that

[2021-05-27 16:31] Adnan-cds commented on #97
Okay, this is ready for review.

[2021-05-27 16:42] stephen-cox commented on #72
Possible fix for this in PR #82

[2021-05-27 16:44] stephen-cox commented on #59
Possible fix for this in PR #81

[2021-05-27 19:35] #97 closed, assigned to nobody

[2021-05-28 15:37] willguv commented on #14
@ekes also look at http://id.esd.org.uk/neighbourhood/CONSERV-6169 as source of data

[2021-06-01 09:42] ekes commented on #92
The one change _required_ for implementing the standard will be adding 'organisation' to the entity relationships.
There are further changes that can be implemented, but this can be incremental.

'Organisation' in the first instance is the organisation offering the 'Service' (for example the Council, or School, or Child Minders etc.) It is also used for Reviewers (for example Ofsted).

My initial

[2021-06-01 11:06] willguv commented on #92
Thanks @ekes this would have been a great chat for this week's story refinement (which we haven't got time to do)!

I can stay on at the end of tomorrow's stand up if you have time. Or we can park this here and pick up at next week's review. This isn't urgent, and there's plenty of other directories work to be getting on with.

Please let me know what works best for you.

[2021-06-01 13:31] danchamp opened #106 "Don't allow creation of a directory channel if no directory facets exist"
If there are no directory facets, the user needs a warning that they need to create at least one directory facet before creating a directory channel.

<img width="1227" alt="image" src="https://user-images.githubusercontent.com/261421/120331764-052c7b80-c2e6-11eb-8291-2f25280fc8c6.png">

[2021-06-01 13:51] ekes commented on #106
I'd go the other way. It should be possible to make directories without the 'Facets' (by which I primarily mean the content facets that we created). Some councils will have directories that only have controlled vocabularies (probably Taxonomy Terms) and no editorial on-the-fly content facets (I seem to remember we had to allow this functionality for Lambeth).

[2021-06-01 14:11] danchamp commented on #106
That makes sense @ekes

[2021-06-01 21:14] andybroomfield commented on #106
I don't think we should force facets to be created, there are cases when a simple directory would be needed and it won't have any facets.

[2021-06-02 07:41] danchamp commented on #106
I agree, but had assumed that facets are currently required for a reason. If there's no documented reason for facets being required I'll close this issue and open a new issue for removing the requirement.

[2021-06-02 07:53] ekes commented on #106
I think this is a classic use different councils different use cases thing.
It's a two part question: out-of-the-box what should the set up be; what should be possible to configure.
It is certainly possible to make a directory that doesn't need facets; but you need to set up the content type now.
So are the defaults, requiring a 'content facet', as the default too restrictive? Or is this correct a

[2021-06-02 07:55] ekes commented on #106
And to be clear. I'm 100% agnostic on which way it goes. It should be decided which way it goes, and then the work done to make doing the various options easier and more obvious.

[2021-06-02 08:14] danchamp commented on #106
I agree with all the above. On the basis that facets *are* currently required, and echoing #69, a logical first step would be a warning to the user if no facets exists when they start creating a new channel.

Ultimately I don't think facets being required is helpful - next time I come to create a new channel which needs new facets, I'll be forced to either select a facet I don't want, and go back

[2021-06-02 08:17] ekes commented on #73
Test confirms that with the default configuration the body text, or title, including _children's_ is returned for the search _child_ and _children_.
And vice versa _children's_ and _childrens_ search find _children_.

_Aero_ and _Aerodrome_ and _Aero Drome_ found _Aerodrome_; _Drome_ alone doesn't.

Could the examples be an issue with a specific site configuration, are these string in different fi

[2021-06-02 10:11] willguv commented on #73
Thanks @ekes. This issue was raised in a Croydon content design meeting a while ago, and I think @benhillsjones mentioned it.

Ben and I are catching up today and I'll raise it then. Or Ben, you can add extra info here if you have it

[2021-06-02 12:46] ekes commented on #95
By default a 'Content Disigner' can't create Directory content, nor Geo content. So I assume in the example above they have been given permission to create a 'Venue' but not been given permission to create a Geo Place to associate with this.

Do we:
 (a) want to give content designers default permissions over Directories. If so how much? All of:- Channels; Pages; Venue; Facet Types; Facets. Or do

[2021-06-02 12:54] willguv commented on #95
@ekes content designers need to be able to create, edit and publish all types of directories content.

Croydon has these permission now and use them all the time. While I was there, Brighton content designers created everything they could too. (Creating facets wasn't available until you built them, but was always part of the plan).

At a later date, we may well want to give permissions for third p

[2021-06-02 13:14] willguv opened #111 ""Reset directory facets" link"
This was discussed and designed in Croydon - see below

- "Refine your search" label above facets
- "Clear all filters" link to reset all facets

As a citizen
I need a quick way to clear the facets I've selected on a directory
So I can see all the results again

[2021-06-02 13:32] willguv opened #112 "Show number of items next to each facet/ Hide facet if no content"
PARK for working group discussion

------
Croydon previously talked about:

- showing a number next to each facet to indicate how many entries can be seen

- hiding facets altogether until they're referenced by an entry

[2021-06-02 14:03] ekes commented on #57
I'm going to repurpose this for the additional #109 discussion. There is another ticket (somewhere) that can be closed if it's found.

The ideal is the order of items in Directory Channels should be:-

 1. By relevance to any search query
 2. Alphabetically by title

## Relevance

Relevance is injected by search_api how good that is depends on the backend. Nothing more we need to do there (except

[2021-06-02 16:05] willguv opened #114 "Import entries from a spreadsheet"
PARK for a working group discussion

-----
Previously discussed in Croydon as a possible need

[2021-06-02 16:12] willguv opened #115 "Find my nearest..."
PARK for a working group discussion

-----
Croydon previously talked about ways to replace an aging directory of services http://maps.croydon.gov.uk/aya/pages/aya/aya.html

This needs proper discovery work. The main difference from directories is that users can enter a postcode, and the site provides the nearest results on a single page from a defined set of directories

For example, the nearest:

[2021-06-02 16:16] willguv opened #117 "Install national gazeteer"
PARK for a directories or forms working group discussion

--------
Croydon and Brighton have previously struggled with address lookups outside their boundaries

For example, for a person moving into the area, their old address may not be within Brighton or Croydon

(I'll find better examples than this)

We briefly explored national databases for land and properties, both badly out of date now

htt

[2021-06-02 16:19] willguv opened #118 "Should facets be AND or OR?"
PARK for working group discussion

------
This was a common topic conversation in Croydon

Clicking these facets as an example

- West Croydon
- East Croydon

Should this show entries that are in

West AND East
West OR East

[2021-06-02 16:25] willguv opened #119 "Specific directory type - licensing applications"
PARK for working group conversation

------
Croydon has a list of pending licence applications at https://www.croydon.gov.uk/business-licences-and-tenders/licences-permits-and-registrations/current-licensing-applications

We talked briefly about using directories as a replacement to this flat content

Citizens could do the following:

- See the applications on a map
- Pick between pending/ current

[2021-06-02 16:30] ekes commented on #119
Think this was basically events repurposed  https://beta.lambeth.gov.uk/consultations
But it's another example, from a council, for similar requirements and similar open/closed pattern.

[2021-06-02 16:34] willguv commented on #119
@ekes are you getting a firehose of everything :)

Just posted on Github that I'm having a clear out of Trello boards/ random notes and moving useful stuff here. It's highly speculative and mostly needs working group input, but happy to chat in the meantime

[2021-06-02 16:35] willguv commented on #119
@ekes is the Lambeth work portable to LGD? Looks great! (Add to the long list)

[2021-06-02 16:39] ekes commented on #119
Classic yes no. I don't remember that we did anything particularly radical. But do remember keeping in mind the issues with events, this doesn't need repeating events for example. So basically - it's extending LGD events for other use cases perfectly possible we've got all the blocks but need to do so correctly.
Events ideally actually being an extension of directories (but at the moment having to

[2021-06-03 14:52] #19 closed

[2021-06-03 15:00] ekes commented on #92
Forgot about this yesterday. Monday or review...

[2021-06-07 13:58] ekes commented on #95
So there's a fix for #30 which blocks this till it's in. Once it's in we can implement the hook here (and in geo) and have the defaults fixed.

[2021-06-07 14:08] ekes commented on #21
#109 was the first suggestion for this.

The follow up is https://github.com/localgovdrupal/localgov_directories/issues/57#issuecomment-853055891

I'll close this in favour of #57 which includes the reminder that we also need to sort by relevance if a search has been done.

[2021-06-07 15:28] clearspotmedia commented on #111
![Directory-Search-Advanced-1170](https://user-images.githubusercontent.com/2931552/121044141-322cd280-c7ad-11eb-8cea-def02d0e669b.jpg)

Hi,  this was the original design with full functionality. At Croydon we launched with a cut back MVP version.

It has a clear all filters link, clear buttons for each facet group. And also a show/hide filters button at the bottom

[2021-06-07 15:32] willguv commented on #111
@clearspotmedia This is great - thank you!

[2021-06-08 06:54] finnlewis commented on #92
Just to note, I've read your notes @ekes and I actually understand it! Brilliant!

It would be really cool to be able to refactor directories to be able to work with the open referral standard. That would be a bit win-win-win I think.

[2021-06-09 11:32] finnlewis opened #123 "[META] Open referral: Expose API"
- [x] break this up into smaller issues @ekes
- [x] new issue for service endpoint (5)
- [x] new issue for taxonomy endpoint (5)
- [x] new issue for organisation (3)
- [x] new issue for location (3)
- [x] new issue for enable search / filtering on endpoints. (5)

[2021-06-09 11:32] finnlewis opened #165 "Directory keywords: analytics / data collection (see card)"

[2021-06-09 11:32] finnlewis opened #124 "Open Referral: Additional entity for data structure - Organisation"
## Acceptance tests

- [x] An Organisation is associated with Service in a Open Referral export
- [x] The organisation can be set by the editor

[2021-06-10 10:37] ekes commented on #95
localgovdrupal/localgov_core#30 is now in.

To do implement default permissions in this (and geo) modules.

[2021-06-11 09:22] ekes commented on #14
Question:

If as the example KML above each area is an a separate file. Can we assume that _first_ we require each shape to be able to be cut and paste into a field when creating each area separately? So just like creating and address when you have to type in the address to make a new location; you have to paste in the shape for each new location.

The alternative is being able to import multiple

[2021-06-11 10:37] willguv commented on #14
@ekes which of these is the easies/ quickest as a proof of concept? It feels like we should have something basic to share with councils, and build on it

[2021-06-11 10:39] willguv commented on #14
@ekes on "one by one" do you mean:

- create a new directory entry eg a conservation area
- upload/ cut and paste in the area data
- publish
- repeat

I think this is how a content designer would do it. Anything else is bulk importing, and there's separate conversations about that

[2021-06-21 20:18] markconroy opened #121 "Add .lgd-teaser-list to the directory view"
Hi,

The new base theme relies on a class of `lgd-teaser-list` to render spacing between teasers. Can we add that class to this view: `/admin/structure/views/view/localgov_directory_channel/edit/node_embed`

Details here: https://github.com/localgovdrupal/localgov_base/issues/9#issuecomment-865308537

[2021-06-22 09:22] ekes commented on #123
Progress documentation:

https://forum.openreferraluk.org/t/localgov-drupal-implementation/106

[2021-06-22 09:24] ekes commented on #124
So I rolled back on this while doing localgovdrupal/localgov_directories#123 As mentioned https://forum.openreferraluk.org/t/localgov-drupal-implementation/106/2#json-service-4 I think we want to have a chat before jumping one way of the other on the entity type. I was convinced that a custom entity was the way to go; I'm now pretty convinced a node type is the way to go.

[2021-06-22 09:27] ekes commented on #92
Tickets:

 * The API endpoint https://github.com/localgovdrupal/localgov/issues/261 with WIP on `feature/2.x/261-POC-Open-Referral` branch and documented https://forum.openreferraluk.org/t/localgov-drupal-implementation/106 for feedback
 * https://github.com/localgovdrupal/localgov/issues/263 structural changes mentioned above.

[2021-06-22 10:57] #14 closed

[2021-06-22 15:48] ekes commented on #57
@willguv Think the decisions was heading toward the 'Editor control' option? But not yet finally decided?

[2021-06-22 15:51] willguv commented on #57
Hi @ekes let’s go with editor control. It fits with other decisions we’ve made - giving content editors the flexibility they need without requiring dev effort. Can you estimate it? Thanks

[2021-06-23 09:58] stephen-cox commented on #59
Closed with #81

[2021-06-23 10:13] #72 closed

[2021-06-29 09:12] ekes commented on #124
# Tasks Agreed

- [x] Create node Organisation Directory entry type.
- [x] Create reference field to Organisation that allows directly creating stub Organisation nodes (free tagging style) that are not in a directory.
- [x] Make this field a requirement for a directory being exposed with OR

[2021-06-29 09:16] ekes commented on #123
- #125 Initial architecture
- #124 Additional organisation entity
- #126 Taxonomy/Vocabulary endpoints
- #127 Using the taxonomy to filter the endpoint defined in the initial structure
- #128 Location endpoint
- #129 Organisation endpoint

Future planning

- #130 Reviews

[2021-06-29 09:19] ekes opened #125 "Open Referral: API / REST endpoint structure"
Decide and document how the Open Referral endpoint is constructed:-

[2021-06-29 09:24] ekes opened #126 "Open referral: Vocabulary & Taxonomy endpoint"
Includes:-

* Directory Facets
* Taxonomy Terms

and

* Preparation for how taxonomy terms would work if a controlled (external) vocabulary (with it's own CURIE and IDs) is imported.

[2021-06-29 09:27] ekes opened #127 "Open Referral: Filtering endpoint by Taxonomy"
* Endpoint as decided #125
* Terms (including potentially externally defined IDs) #126
* Filtered using `taxonomy_type, taxonomy_id and vocabulary parameters` https://api.porism.com/ServiceDirectoryService/swagger-ui.html#/Services/getServicesUsingGET

[2021-06-29 09:32] ekes opened #128 "Open referral: location endpoint"

[2021-06-29 09:32] ekes opened #129 "Open referral: Organisation endpoint"

[2021-06-29 09:34] ekes opened #130 "Open Referral: (discovery - planning) Reviews"
- [ ] Outline what is required for OR for Reviews
- [ ] Explain use cases already existing in LGD for Reviews (eg. OFSTED in FID)
- [ ] Propose a structure that would suite LGD and be exportable to OR
- [ ] Plan and Implement.

[2021-07-05 10:53] finnlewis opened #132 "OpenReferral: Install config for Directories to use OpenReferral"

[2021-07-09 11:20] markconroy opened #133 "Add class to views for the new localgov_base theme"
Can we add a class to the view for this display, so the teaser lists render correctly in the new theme (this won't affect any other theme, currently).

- /admin/structure/views/view/localgov_directory_channel

The class needed is `lgd-teaser-list`.

Thanks.

[2021-07-15 12:57] ekes commented on #132
- [x] Add form display configuration for the organisation field on venue.
- [x] Write script for population of organisation for existing venues.
- [ ] Decide best way for site builders to trigger autopopulate of organisation for venues _if_ _desired_.
- [ ] Implement decision.
- [x] Document how to add custom fields to open referral mappings.
- [x] Document how to add Open Referral mapping for oth

[2021-07-19 12:51] stephen-cox opened #134 "Anonymous classes break code deprecation tests with phpstan-drupal 0.12.11"
The anonymous class in the `getDirEntryForm` method of the `Drupal\localgov_directories\Plugin\Block\ChannelSearchBlock` class breaks tests with phpstan-drupal version 0.12.11. Works fine with version  0.12.10.

https://github.com/localgovdrupal/localgov_directories/blob/7877f4c15e164b8524df30a0db343865c3621d5e/src/Plugin/Block/ChannelSearchBlock.php#L87

Error is:

[code]

Easiest solution is to

[2021-07-19 16:02] stephen-cox commented on #134
I've added a bug report on the drupal-phpstan issue queue: https://github.com/mglaman/phpstan-drupal/issues/194

In the meantime, let's pin the version in the project.

[2021-07-19 17:51] finnlewis commented on #134
Thanks @stephen-cox

[2021-07-19 19:07] ekes commented on #132
New issue: localgovdrupal/localgov_openreferral#8

[2021-07-19 19:07] #132 closed, assigned to ekes

[2021-07-19 19:21] ekes opened #135 "Enabling Open Referral on an Existing Site's Venues: Auto generating the organizations: a button?"
When you enable the `localgov_directories_venue_or` module it adds an organisation node type, and a (free tagging) required reference field to the Directory Venue. It does not automatically populate the field for existing content. There is a method to do this that can be run:

[code]

It will make an organisation with the same name as the venue for every venue and attach it to the venue. This may

[2021-07-19 19:33] ekes commented on #124
https://github.com/localgovdrupal/localgov_directories/tree/feature/2.x/261-Open-Referral/modules/localgov_directories_org

[2021-07-19 19:33] #124 closed, assigned to ekes

[2021-07-20 09:17] #94 closed, assigned to ekes

[2021-07-20 09:27] ekes commented on #57
Tasks:

 - [ ] Add field to directory entries, and venues, for 'sorting title'
 - [ ] Add form (js) to hide and auto populate the sorting title; with option to show and edit
 - [ ] Edit views to use new field for alphabetic sorting (_after_ relevance sorting, ie. relevance sorting if there was a search takes precedence).

(3 points)

 - [ ] Add upgrade path  - for _all_ content types in Directorie

[2021-07-20 12:16] ekes opened #138 "Open Referral: don't export directory facet type open referral mapping"
Wants similar/same code as (default) prevents directory facet config exporting to be applied to the openreferral mapping config for the same entities.

[2021-07-20 19:15] mglaman commented on #134
Sorry for breaking this! I believe I found the culprit and will work on a fix during my next development period (tomorrow)

[2021-07-21 20:48] mglaman commented on #134
The release is out which should fix the breakage in 0.12.11: https://github.com/mglaman/phpstan-drupal/releases/tag/0.12.12

Sorry about that!

[2021-07-22 09:04] stephen-cox commented on #134
@mglaman Many thanks for the quick fix for this. I'll open another issue to unpin phpstan-drupal.

[2021-07-22 09:04] #134 closed, assigned to nobody

[2021-07-22 09:05] Adnan-cds commented on #134
Thanks a lot Matt.  That was real quick. @mglaman

[2021-08-31 15:06] ekes opened #141 "Document Open Referral for Directories"
from review in #136

[2021-09-01 14:31] #76 closed

[2021-09-01 14:31] #93 closed, assigned to ekes

[2021-09-09 14:16] finnlewis opened #145 "1.x localgov_directories dependencies on localgov_geo"
From localgovdrupal/localgov_alert_banner#172 (comment)

1.x events and directories shouldn't be downloading 1.1.x geo; they should have their version at 1.0.x
It's only the test that fails - so they could run 1.1.x - but... so if they were set so composer could download 1.x.x it should be more specific?

[2021-09-10 10:28] ekes commented on #100
Seems this might sometimes repeat - looking at demo -
![image](https://user-images.githubusercontent.com/237186/132840209-5f158b09-a5a6-435b-a6f3-00558d4d72e2.png)
I'd say https://github.com/localgovdrupal/localgov_directories/blob/42fc205fbf34213e534cb012e2547c39c9f9f1f8/js/localgov_directories_entry_search.js#L44 needs a `once`

[2021-09-15 10:58] #145 closed, assigned to finnlewis

[2021-09-15 11:23] finnlewis commented on #133
Did we do this @markconroy ?

[2021-09-16 15:37] markconroy commented on #133
I don't think so.

[2021-09-16 15:37] #133 closed, assigned to ekes

[2021-09-16 18:38] willguv opened #148 "Demo site: National Parks directory"
This content has been added to show LocalGov Geo and directory facets in action. There's separate alert banners targeted to the channel page and the venue pages beneath to explain how they work

Here's a sample entry

https://demo.localgovdrupal.org/national-parks-uk/cairngorms

[2021-09-16 18:41] willguv commented on #148
@ekes there's an error on the channel page

https://demo.localgovdrupal.org/national-parks-uk

Fatal error: Allowed memory size of 268435456 bytes exhausted (tried to allocate 196608 bytes) in /var/www/demo.localgovdrupal.org/gitroot/web/core/lib/Drupal/Core/Database/StatementWrapper.php on line 265

(Cheers for your help with the json files)

[2021-09-20 13:46] andybroomfield opened #149 "[Open refferal] Getting cannot get CacheTags on Null error"
When testing Open refferal branch with demo content I'm seeing this error

When viewing citizen advice entry.

[2021-09-21 11:13] finnlewis opened #150 "PHP memory limit, large geo area files and leaflet"
While working on https://github.com/localgovdrupal/localgov_directories/issues/148 we ran out of memory on the demo site.

From discusssion with @ekes , this appears to be an issue with https://www.drupal.org/project/leaflet and loading all the geo areas into php memory.

Would be good to pinpoint the issue and see if we can help to resolve it!

[2021-09-21 11:13] finnlewis commented on #148
Thanks @willguv, there is an issue with the memory limit and lots of large geo area data eating up all the memory.

I've reduced the number of published park 'venues' and increased the memory limit, all seems to be working again now.

I've logged the memory limit issue here https://github.com/localgovdrupal/localgov_directories/issues/150

[2021-09-21 11:24] #148 closed, assigned to ekes, willguv

[2021-09-21 11:48] ekes commented on #150
Example, this loop of all the features

https://git.drupalcode.org/project/leaflet/-/blob/2.1.x/modules/leaflet_views/src/Plugin/views/style/LeafletMap.php#L700

calls

https://git.drupalcode.org/project/leaflet/-/blob/2.1.x/src/LeafletService.php#L189

which processes all the field data (which is stored as WKT) to an array. These arrays are combined into an even larger array which is (sorted and)

[2021-09-21 12:01] willguv commented on #150
@ekes this all sounds very nice - do you have any thoughts on the amount of work might be needed? Cheers

[2021-09-21 14:19] finnlewis opened #171 "[error] Drupal\search_api\SearchApiException while adding Views handlers for field Content » Directory channels on index Directories: Could not retrieve data definition for field 'Directory channels' on index 'Directories'"
When enabling localgov_demo with drush, I see the following:
[code]

[2021-09-22 09:09] willguv commented on #150
@ekes @finnlewis this feels like a bit of a show stopper for use of areas in directories. Can we discuss at stand up today and look at what could be done in sprint 10 as the start of a solution?

Cheers

[2021-09-22 10:26] finnlewis commented on #150
From discussion at standup, this is not really a show stopper.

We think that most councils will not need such huge complexity and size of geo area files.

We need to document the directories functionality in general  so documenting this issue in particular will be important.

Recommendations might be:

a) keep your geo files as small as reasonable
b) you might need to increase the PHP memory limi

[2021-09-22 12:30] andrew-wallis opened #151 ""Location" field rendered as a single entity"
We're trying to migrate our Directories into localgov_directories. It seems like the Directory location is rendered as a single entity that includes the map with a "Venue" label and the address over multiple lines:

![image](https://user-images.githubusercontent.com/43880760/134342972-dd3621a8-3064-44cb-9100-2df6c1e21708.png)

Has anyone else working with directories encountered this? This is maki

[2021-09-22 13:02] ekes commented on #151
You can add and use as many different view modes to the location entity as you require. So if you need a different view mode, and render, for the teaser it is best to make one.
Also without doing anything to the output of the address field, you can rather use the label. Which for the geo entity address bundle is just the address field contents in a single line.

[2021-09-22 13:44] andybroomfield commented on #151
Thanks @ekes. I was suggesting new view display modes, and its helpful to know that the label is usable too (though may not always be address). Thats how we can solve the teaser.

However I think the question we are asking is can we mix the fields from Geo on the directory node type manage display. We could do this ourselves with a psuedeo field to then fetch the label / address line seperatly and

[2021-09-22 14:17] ekes commented on #151
Basically a module for pulling up fields from a referenced entity (or reusable paragraph) more than once in the Display Mode UI?

I wonder if that doesn't exist somewhere in contrib - or if it doesn't if it wouldn't make more sense to write it as such completely generalized?

[2021-09-22 15:05] andrew-wallis commented on #151
Hi @ekes - thanks for the tip on using View Modes on the Geo entity.

I've tried using the label but I'm getting an entity reference number rather than an address - am I doing something wrong here?

![image](https://user-images.githubusercontent.com/43880760/134369438-27d40acd-6a5d-448e-85fd-a813fd247a62.png)
![image](https://user-images.githubusercontent.com/43880760/134369524-864d87a4-7c62-47d5-

[2021-09-22 15:06] andybroomfield commented on #151
@andrew-wallis You'll need to run database updates to get those.

[2021-09-22 15:39] andrew-wallis commented on #151
Thanks @andybroomfield - I've done that now and it's working.
![image](https://user-images.githubusercontent.com/43880760/134375735-d70d7169-3344-4d85-a11f-5e0641a0c35c.png)

[2021-09-24 11:21] #100 closed, assigned to ekes

[2021-09-25 11:52] ekes commented on #150
Notes on code probably doing some of what I was wittering on about above:-
Yet to do a code review but https://www.drupal.org/project/leaflet_geojson and potentially https://www.drupal.org/project/views_geojson And related but for masses of individual points rather than areas https://www.drupal.org/project/geocluster

[2021-09-27 13:43] andybroomfield commented on #118
I see directory facets using `OR` currently.
BHCC is making a change from our current to use `OR` also, so I assume this is resolved in favour of OR now?

[2021-09-27 13:45] andybroomfield commented on #151
In short term I'll implement Pseduo field at BHCC so we can split it.
However it would be good to have a way of getting the fields injected into the host entity, don't know how feasiable that is.
Back pre council days I was looking at something simmilar for commerce:
https://github.com/andybroomfield/commerce_injected_fields_display

[2021-09-27 14:01] andybroomfield opened #154 "Facet groups are getting facet-active class when no facets in its group are checked."
When directory facets are loaded with no facets selected, each facet group has a class `facet-inactive`.
When a facet is checked, a class is applied `facet-active`. However this is applied to all facets groups, not just the one with the checked option.
This causes difficulty as BHCC theme collapses facet groups that arn't yet selected.

Issue also appears on other localgov drupal sites, eg. Check

[2021-09-27 14:04] andybroomfield opened #155 "Make the directory channel work with AJAX"
Currently the legacy [BHCC Directories works with ajax](https://www.brighton-hove.gov.uk/directories/local-libraries?facet_accessibility[3598]=3598) (the page does not have to reload)

However Localgov Drupal ones require a full page load.
When enabling Ajax views, the facets block on the left disappears and the view does not update.

[2021-09-28 13:11] j4-m opened #156 "No users can create Directory Facet types"
After installing LocalGov Directories on a fresh install of LocalGov Drupal (2.1.6) there are no roles which have the permission to create new Directory Facet types. Consequently, only user 1 is able to create new types without further permission configuration.

Seems like this should be streamlined. My suggestion would be to give the `editor` role as we are thinking of these types as 'content'.

[2021-10-01 13:52] andybroomfield commented on #171
Also seeing this.
After doing a fresh install.

[2021-10-01 13:56] finnlewis commented on #171
It's been there ever since adding directories to the demo content. It does not seem to introduce any problems, but is really annoying. Any ideas how to find the problem @andybroomfield ?

[2021-10-01 14:03] andybroomfield opened #157 "Install errors with latest localgov_demo"
Adding here for visiblilty
https://github.com/localgovdrupal/localgov_demo/issues/58

[code]
Appears in console when enabling localgov_demo

[2021-10-04 14:18] finnlewis opened #158 "LocalGov Scarfolk sub-theme - support optional block placement"
We need to include optional config to place blocks for the localgov_scarfolk theme.

See localgovdrupal/localgov#379

[2021-10-04 15:38] danchamp opened #160 "Unlabelled directory channel select element on directory search form"
[Accessibility audit ref 47](https://docs.google.com/spreadsheets/d/1t8rRIQe_1kogxPBZDKcsbf8YxtEfC9iGJvidkagNSXY/edit#gid=1779042480&range=D48)

If a directory page or venue appears in more than one directory channel, the directory search form includes a `<select>` element for the user to choose the channel they wish to search. This element lacks an associated `<label>` element:

<img width="813"

[2021-10-06 16:27] ekes opened #163 "'weight_property_order' facet plugin missing schema"
Got failing tests because of:-
`facets.facet.localgov_openreferral_vocabulary:processor_configs.weight_property_order.settings.sort`

I'd assume for this https://github.com/localgovdrupal/localgov_directories/blob/2.x/src/Plugin/facets/processor/WeightOrderProcessor.php it was just `plugin.plugin_configuration.facets_processor.weight_property_order` needed to be added to a schema.yml; but for this

[2021-10-11 21:20] finnlewis commented on #57
@ekes I think this one is resolved by https://github.com/localgovdrupal/localgov_directories/pull/152 ? Feel free to re-open if not.

[2021-10-12 08:58] ekes commented on #156
Yep looks like https://github.com/localgovdrupal/localgov_directories/blob/718701a097460e81d5c3ef06ecfa417222324c9a/localgov_directories.permissions.yml#L1 was just missed from https://github.com/localgovdrupal/localgov_directories/blob/718701a097460e81d5c3ef06ecfa417222324c9a/localgov_directories.module#L50

They are supposed to be treated (by default) as content.

[2021-10-12 09:25] ekes commented on #123
Tasks done. There are issues for further work.

[2021-10-12 09:25] #123 closed, assigned to ekes

[2021-10-12 11:39] stephen-cox commented on #92
Done - sprint 3

[2021-10-12 11:39] #92 closed, assigned to ekes

[2021-10-12 11:41] stephen-cox commented on #95
Done - sprint 6

[2021-10-12 11:41] #95 closed, assigned to ekes

[2021-10-12 12:00] stephen-cox commented on #12
This has been done.

[2021-10-12 12:44] ekes commented on #103
I'm wondering if this isn't something to document: How to change the default location; and permitted Countries?

For the UK Council user base the default of UK only (even they could add more if almost everything they enter is in one place, like if they're for example in London they could add London as a default); but it can completely be changed. Maybe it is even on the demo by now?

[2021-10-12 12:45] ekes commented on #87
No longer required as the map is now in the entity browser.

[2021-10-12 12:45] #87 closed, assigned to nobody

[2021-10-12 12:46] ekes commented on #89
Order for the Address bundle is now: Address, Map, Accessibility.

[2021-10-12 12:46] #89 closed, assigned to nobody

[2021-10-12 12:47] ekes commented on #90
So this has all be reworked with the autocomplete addressfield.

[2021-10-12 12:47] #90 closed, assigned to nobody

[2021-10-12 13:09] ekes commented on #158
Guess this covered that https://github.com/localgovdrupal/localgov_directories/commit/cf837c01e3150753eea90e8dd1715a80c8523f1b

[2021-10-12 13:09] #158 closed, assigned to nobody

[2021-10-12 13:15] ekes commented on #5
There is documentation how to add content types https://docs.localgovdrupal.org/devs/features/directories-technical.html#advanced-configuration

There is now an Organisation content type. I'd assume other directory item types for the Distro will be requested individually.

[2021-10-12 13:15] #5 closed

[2021-10-12 13:16] ekes commented on #15
Guess #156 is the last issue of this.

[2021-10-12 13:16] #15 closed

[2021-10-12 13:19] ekes commented on #16
https://github.com/localgovdrupal/localgov_directories/blob/718701a097460e81d5c3ef06ecfa417222324c9a/src/EventSubscriber/DirectoriesConfigSubscriber.php#L82

More about how this works https://www.drupal.org/docs/drupal-apis/configuration-api/configuration-import-export-transformation

[2021-10-12 13:19] #16 closed

[2021-10-12 13:21] ekes commented on #17
It's in the optional configuration now https://github.com/localgovdrupal/localgov_directories/blob/2.x/config/optional/search_api_autocomplete.search.localgov_directory_channel.yml

[2021-10-12 13:23] ekes commented on #26
Localgov Geo now has Areas bundle now part of Directories.

[2021-10-12 13:23] ekes commented on #27
Open Referral part of 2.3.0 localgov.

[2021-10-12 13:25] ekes commented on #157
Is this #43 ?

[2021-10-12 13:26] ekes commented on #52
Believe this is fixed with the two MR above.

[2021-10-12 13:29] ekes commented on #60
Templating has all been moved since.

[2021-10-12 13:32] ekes commented on #66
So the default now is they are placed by block, and the field option is disabled (but not removed if people want to use it).

Assume that's all good.

[2021-10-12 13:33] ekes commented on #67
Looks like these all merged, and issue not recurring.

[2021-10-12 13:40] ekes commented on #86
Is open by default.

[2021-10-12 13:40] #86 closed, assigned to nobody

[2021-10-12 13:43] ekes commented on #96
Changed with the new Location entity browser.

[2021-10-12 13:43] #96 closed, assigned to nobody

[2021-10-12 13:43] ekes commented on #165
Dupe of #98

[2021-10-12 13:43] #165 closed, assigned to nobody

[2021-10-12 13:46] ekes commented on #141
https://docs.localgovdrupal.org/devs/features/directories-technical.html#enabling-open-referral
https://docs.localgovdrupal.org/devs/features/directories-technical.html#mapping-a-custom-content-type-to-open-referral

[2021-10-12 13:46] #141 closed, assigned to nobody

[2021-10-12 13:50] ekes commented on #117
I'm guessing this is covered with address completion using any of the paid services which can be plugged in (documentation https://docs.localgovdrupal.org/devs/features/geo-technical.html#configuration ), or the OS Places API will be another plugin, but 'free' to councils option (being written).

[2021-10-12 13:50] #117 closed, assigned to nobody

[2021-10-12 13:52] ekes commented on #114
Configuring `Migrate` from CSV to Directory Items has been done by some sites. Leaving this here as such.

[2021-10-25 17:44] andybroomfield commented on #155
The directory channel view is now a search API index and the facet block is from the facets module which has [quite a lot of ajax issues](https://www.drupal.org/project/facets/issues/3075378).

In legacy BHCC site this was just an EVA view and the search a combined text filter, that may be an option to get the AJAX functionality, at the cost of not using search API.

[2021-10-25 18:06] andybroomfield opened #166 "Using facets outside of directories"
Is it possible (and adviseable) to use facets outside of directories?

[BHCC have established event channels](https://www.brighton-hove.gov.uk/events/holiday-activities-and-food-haf-events-christmas-2021), simmilar to directories, for grouping events.
This currently uses taxonomy for the facets, however we are looking at using Facets from Directories as these are able to be fully controlled by con

[2021-10-27 14:09] andybroomfield commented on #166
The issue I have is how to use these with the events view as that is not based on search API so can't use the facet blocks.

[2021-11-08 11:42] finnlewis opened #167 "Drupal\Tests\BrowserTestBase::$defaultTheme is required."
From https://github.com/localgovdrupal/localgov_project/pull/57

See PHPCS output: https://github.com/localgovdrupal/localgov_project/runs/4068805844?check_suite_focus=true
[code]

[2021-11-15 14:11] #167 closed, assigned to nobody

[2021-11-16 12:01] finnlewis commented on #171
I'd really love to get this one resolved too. Anyone got any ideas as to why this happens?
@msayoung @ekes @j4-m @stephen-cox ?

[2021-11-16 12:17] j4-m commented on #171
I'll take a look @finnlewis

[2021-11-16 17:05] j4-m commented on #171
@finnlewis I've spent some time debugging but nothing conclusive so far. What I can say is that [getDataDefinition](https://git.drupalcode.org/project/search_api/-/blob/8.x-1.17/src/Item/Field.php#L434) is throwing an exception because the index fields created by the configuration from `localgov_directories` are not being found in the properties being returned by [getPropertyDefinitions](https://g

[2021-11-17 06:21] electronicdreamplant commented on #118
Is there any research on user expectations? Personally, if I was searching for services in a directory my expectation would be that selecting two areas would combine the results (AND) to give me more results.

Using an example in our council (https://www.dorsetcouncil.gov.uk/bins-recycling-and-litter/recycling-centres-and-banks/find-a-recycling-centre-or-recycling-bank) if I selected more than one

[2021-11-17 06:29] electronicdreamplant commented on #115
User research done at Dorset, and verified by work at Essex on their Local Offer, is that users value seeing the distance to a facility to work out if it is feasible to visit it. We've used the Google Place API to return distance values and build this in to the results on a postcode search (https://www.dorsetcouncil.gov.uk/parking/find-a-carpark/find-a-car-park)

[2021-11-17 08:17] electronicdreamplant commented on #114
Creating a directory by CSV import is a feature of Jadu CMS, which was really useful in setting them up. Also useful was an export feature to check larger directory content for errors without looking at each record individually via the front end

[2021-11-22 11:25] andybroomfield commented on #118
Thanks for the info @electronicdreamplant.
Looking at your examples, it looks like you are using an OR filter, in that you expand the results
[Small electrical items only](https://www.dorsetcouncil.gov.uk/bins-recycling-and-litter/recycling-centres-and-banks/find-a-recycling-centre-or-recycling-bank)
[Electrical items or textiles](https://www.dorsetcouncil.gov.uk/bins-recycling-and-litter/recyclin

[2021-11-22 14:18] finnlewis commented on #171
Just discussing in 'merge monday' meeting.

Can we add dependencies to the default content yml files? That way perhaps we could force the facet entities to get created before the node entities?

[2021-12-02 16:28] finnlewis commented on #171
Thismight be related: https://www.drupal.org/project/search_api/issues/3036793

[2021-12-02 18:56] finnlewis commented on #171
My debugging leads me to the same conclusions as @j4-m above.
It seems to be triggered when the views.view.localgov_directory_channel config is created.

[2021-12-02 19:01] finnlewis commented on #171
Ooh - this is not just a problem with the localgov_demo module.

I can replicate with:

[code]

[2021-12-02 19:15] finnlewis commented on #171
@ekes I think this issue is actually just related to the localgov_directories modules. Something odd with the config dependency chain, perhaps?

[2021-12-06 14:47] finnlewis commented on #171
@ekes thinks this has been looked at and is very complicated!

If anyone can work out how we might suppress this error from the command line install, that would be great.

Failing that, let's document it on the docs site so that people don't get unduly worried.

[2021-12-13 14:37] finnlewis opened #172 "Call to deprecated function drupal_get_path()"
From https://github.com/localgovdrupal/localgov_geo/issues/45

We have a number of code deprecation warnings.

[code]

[2021-12-13 15:09] ekes commented on #172
So this is what I did with the geo form for injecting the renderer service https://github.com/localgovdrupal/localgov_geo/pull/46/files#diff-1b6d84fd5f648ca317b091fc5f1176f333665daf9ae4649216ab837a966fff16
NB so far written - not tested.

[2021-12-13 21:58] #172 closed, assigned to nobody

[2021-12-15 15:01] andybroomfield opened #175 "Facets 1.x is now unsupported"
Facets has released 2.0 https://www.drupal.org/project/facets

And 1.x is now marked as unsupported.
<img width="1234" alt="Screenshot 2021-12-15 at 3 01 06 pm" src="https://user-images.githubusercontent.com/1467480/146210393-1f8de0b0-156c-4233-b2e2-de6637692630.png">

[2021-12-16 12:05] finnlewis commented on #175
Just discussing this with @ekes and @andybroomfield on our Tech Drop-in.

We will need to investigate and explore upgrading to the 2.x branch.

[2022-01-03 14:17] #175 closed, assigned to nobody

[2022-01-31 10:20] andybroomfield opened #178 "New coding standards warnings"
[code]

[2022-01-31 14:20] #178 closed, assigned to nobody

[2022-04-12 10:39] stephen-cox opened #181 "Fix code depreactions for phpstan 1.x (required for PHP 8.1)"
We need to upgrade phpstan to 1.x for PHP 8.1. This highlights the following issues:

[code]

[2022-04-13 08:36] andybroomfield commented on #156
This should be fixed in #122, but that PR is older than this issue.
We should check that it is correct on newinstalls, and also if upgrade installs can get the permissions.
(Would there be an issue with adding an update hook thats adds them if they are already assigned?)

[2022-04-21 11:07] #171 closed, assigned to nobody

[2022-04-21 12:12] #181 closed, assigned to nobody

[2022-04-21 12:12] stephen-cox commented on #181
Fixed with #182

[2022-04-25 09:43] stephen-cox opened #185 "Fix tests in localgov_directories_or"
The latest changes to fix tests in localgov_openreferral for PHP 8.1 (https://github.com/localgovdrupal/localgov_openreferral/pull/32) adds a dependency to the core serialization module. This needs to be added to the tests in localgov_directories_or.

[2022-04-25 13:07] #185 closed, assigned to nobody

[2022-05-16 13:35] finnlewis opened #189 "Proximity searching in SQL backend of Search API"
@Adnan-cds has been looking at this at Croydon.

Trying to add the location proxiimity search to SearchAPI database backend to allows us to filter by proximity to a location.

See https://lbc-app-w-localgov-corpwebsite-dev5.azurewebsites.net/parking-streets-and-transport/parking/places-park/find-council-car-parks-croydon?search_api_fulltext=&latlon%5Bpostcode%5D=cr0+1ea&latlon%5Bsearch_radius%5D=8

[2022-06-06 13:58] finnlewis commented on #189
@Adnan-cds has been working on this and has something working. One issue that will present itself is how to hide or remove the exposed views filter on directories that have no location data.

[2022-06-13 18:22] andybroomfield opened #193 "Use an 'and' query between facet groups and 'or' within them."
As the facets are dynamically generated, currently there is a choice in the facets setting for a single block as either 'or' (show results with either facet 1 or facet 2) or 'and' (show results with both facet 1 and facet 2).

However this can be confusing when there are mulktiple groups of facets.
We need to have the option of 'or' within the block, and 'and' between the blocks, whilst maintainin

[2022-06-16 13:27] andybroomfield commented on #193
![And-or-not-2-3234527566](https://user-images.githubusercontent.com/1467480/174080161-1bc88af9-41a2-4c65-a6db-fd61f7d827e3.png)

What we mean by 'And' and 'Or' to avoid confusion.
So by Or, we mean find things that match either, and by And we mean find things that match both.

[2022-06-20 10:26] stephen-cox opened #194 "Remove `Block %block-id is missing. Cannot update its visibility settings.` error message as it serves no purpose"
When enabling directories in Microsites two separate error alerts are thrown:

[code]

Looks related to #43 and #157

[code]

Looks to be due to https://github.com/localgovdrupal/localgov_directories/blob/0d2d1e51458479c06339a47719d69c283c619649/localgov_directories.module#L229

[2022-06-21 15:28] Boosmith opened #195 "Error when enabling module localgov_directories_or"
Error below when enabling localgov_directories_or. This is with localgovdrupal v2.3.9 and Drupal version 9.3.12

[code]

[2022-06-21 16:39] ekes commented on #195
Hmm... that seems to be something to do with a module 'pagerer'?
It's calling a method `findAdaptiveKeys` that doesn't exist on the [PagerParametersInterface](https://api.drupal.org/api/drupal/core%21lib%21Drupal%21Core%21Pager%21PagerParametersInterface.php/interface/PagerParametersInterface/9.4.x) in line 59 of `pagerer/src/PagererManager.php`

[2022-06-22 08:54] ekes commented on #195
I fear that module might be a bit overreaching. If I understand it
https://git.drupalcode.org/project/pagerer/-/blob/8.x-2.x/src/PagererServiceProvider.php
puts its pager onto _*all*_ pagers which here is not desired.

So unless I'm misunderstanding I think you need to fix that module not to inject itself onto pagers that it doesn't fit.

[2022-06-22 08:54] #195 closed, assigned to nobody

[2022-06-22 09:04] Boosmith commented on #195
Ok, thanks. Pagerer is a contrib module so we'll look to see if we can remove it. FYI after I uinstalled pagerer, localgov_directories_or seemed to install fine

[2022-06-22 10:39] msayoung opened #196 "BAU: What other Directory content types might we need?"

[2022-06-22 10:42] finnlewis opened #197 "New content types for localgov_directories"
We provide 2 content types out of the box, page and venue.

We expected councils to add new content types for more specific needs, but mostly it seems people are just re-using the provided content types.

We now think that we should add a few more content types, following discussions in the LocalGov Microsites project.

For example:

 - promotional content - with paragraphs and rich content.
 - fa

[2022-06-22 11:31] finnlewis commented on #194
We'll just focus on the second error in this issue.

[2022-06-23 11:36] finnlewis commented on #193
@ekes perhaps add your thoughts here for the record!

[2022-06-24 07:48] stephen-cox opened #198 "Test error - The text "Page 1" was not found anywhere in the text of the current page."
[code]

[2022-06-28 18:17] andybroomfield commented on #197
Do these need to be in localgov_directories? Could they be in a submodule?
I'm not sure we should be adding a dependency on localgov_paragraphs is desirable for a directories function.
Maybe all the directory node types (except the page one) should be in a submodule with the appropriate dependencies?

Would that effect the architecture much, especially those that have preinstalled directories.

[2022-06-28 18:28] ekes commented on #197
They're all submodules already - including the page one - https://github.com/localgovdrupal/localgov_directories/tree/2.x/modules

My description of this feature from slack was:-

https://localgovdrupal.slack.com/archives/C01T2FBBVT5/p1655900901459039

[2022-06-28 18:57] andybroomfield commented on #197
Thanks @ekes good to know the architecture.
How would this work when needing localgov_paragraphs? In composer suggest?

[2022-06-30 07:51] stephen-cox commented on #194
The second error message comes from https://github.com/localgovdrupal/localgov_directories/blob/0d2d1e51458479c06339a47719d69c283c619649/localgov_directories.module#L393-L397

This error message serves no purpose as if the block ID is empty (as it is with Microsites) nothing is done. I suggest removing it.

[2022-06-30 09:11] stephen-cox opened #201 "It's not possible to enable Venues as part of a site install"
From https://github.com/localgovdrupal/localgov_microsites_group/issues/108

Enabling directories during a site install using Drush hangs indefinitely. This is because the config change when adding new content types to the Search API data source for the second time triggers a content reindex, which hangs in Drush.

The code in `hook_ENTITY_TYPE_insert()` that adds the directory item content type t

[2022-06-30 09:20] ekes commented on #201
Pretty certain you can suspend the reindex trigger.

[2022-06-30 10:01] stephen-cox commented on #201
I thought so too, but have been unable to find how to do this. There doesn't seem to be a method on an Index entity for this and have tried the following:

[code]

and

[code]

[2022-06-30 10:34] ekes commented on #201
This actual doing the indexing, rather than only reseting it, is triggered by the `Index::postSave()` stuff with the tracker?

Like because of:
[code]

So it's running in the CLI and IndexTaskManage::addItemsAll()
[code]
where IndexTaskManager::addItemsBatch would run
[code]
which looks like it sometimes also runs off the batch

Because all the startTracking stopTracking seems to also queue tasks?

[2022-06-30 10:48] stephen-cox commented on #201
It's actually triggered by the saving of the config, which happens in `Index:preSave()`. The [writeChangesToSettings](https://git.drupalcode.org/project/search_api/-/blob/8.x-1.x/src/Entity/Index.php#L1336) method causes the reindex, although I have to admit I haven't found out how just changing the settings causes this.

[2022-06-30 13:08] stephen-cox opened #203 "Remove the automatic placement of search block in sidebar of directory items"
From #200

There is code to automatically add the content type of directory items to the visibility settings of the directory search block in LocalGov directories. This doesn't work unless the block ID is `localgov_directories_channel_search_block` and so isn't working for the Scarfolk theme and is causing issues with Microsites #194.

Is this behavior desirable? It seems trivial to manually set t

[2022-06-30 14:01] andybroomfield commented on #203
I think it is still required, in that the pattern is to be able to do a search within the directory from that directory entry.
eg. I'm on the [access to work entry](https://www.brighton-hove.gov.uk/directories/special-educational-needs-and-disability-send-support/access-work) in SEND and want to search other SEND items.

Isn't the issue that there is also a psudeo field that is shipped, which gets

[2022-06-30 15:08] stephen-cox commented on #201
Haven't got anywhere turning off the re-indexing, so have a PR #202  that adds the datastore config directly to the config entity. This config then needs re-saving in the index for everything to work properly, it's far from ideal.

[2022-07-05 10:25] #198 closed, assigned to nobody

[2022-07-06 18:45] andybroomfield commented on #193
For reference:
- [Custom facet plugin / custom query type](https://www.hook42.com/blog/search-and-facets-and-queries-oh-my)
- [Drupal.org issue that references above](https://www.drupal.org/project/facets/issues/3252122#comment-14353664)
- [Alter query using PreExecuteEventsSubscriber](https://www.drupal.org/project/facets/issues/3182002)
- [Or query type discussion](https://www.drupal.org/project

[2022-07-07 11:05] andybroomfield commented on #193
From my discovery, and using example in the [Drupal.org issue that references above](https://www.drupal.org/project/facets/issues/3252122#comment-14353664) I was able to alter the string query to achieve the 'and' across groups, 'or' within by separating each facet into a condition group. See below.
So the next stage would be to make this a proper query type plugin and then assign it to the localg

[2022-07-07 14:18] MatthewWilkes commented on #150
Hi team, just came across this when trying to use the demo site to look at directories. Given the recommendation appears to be to use smaller geo definitions or increase the memory limit, can we do one of these on the demo site? The polygon files look rather complex, I'd be happy to give simplifying them a shot, assuming that increasing the memory limit feels like it would have been done sharpish

[2022-07-07 14:24] ekes commented on #150
The demo site should be working? It was. Is it not? Certainly could drop the complexity further:-

I just used https://github.com/mbloch/mapshaper https://mapshaper.org/ for simplifying them.

[2022-07-07 14:33] MatthewWilkes commented on #150
https://demo.localgovdrupal.org/national-parks-uk is 500'ing for me, I assumed it was the same thing as it isn't erroring on a local instance.

[2022-07-08 10:43] stephen-cox commented on #150
I've increased the available PHP memory just for the National Parks page on the demo site and it's working again.

[2022-07-11 11:56] ekes commented on #201
For the _db _solr work we've set the index to default disabled.

Doing this here also seems to help. It doesn't try and index when there's no backed yet. Sensible for installing.

It's run me into another problem we've had.

[code]

Venue depends on configuration in optional in localgov_media

[2022-07-18 13:53] ekes opened #210 "We should add a warning that states that content designers should set up at least one directory before creating directory entries articles."
Directories could do the same as it's also needed to do that there.

_Originally posted by @ekes in https://github.com/localgovdrupal/localgov_news/issues/64#issuecomment-1187489896_

[2022-07-18 16:21] andybroomfield opened #211 "Directories Promotional page belongs in the Directories menu link group"
See screenshot, looks odd outside it,.
(Fresh install with localgov_demo installed)

<img width="614" alt="Screenshot 2022-07-18 at 5 20 32 pm" src="https://user-images.githubusercontent.com/1467480/179557194-6c70fca3-d903-4372-a6a8-7ef2acfd886f.png">

[2022-07-25 16:33] andybroomfield opened #213 "Missing Schema value for localgov_directories_db"
On upgrading to localgov_directories 2.3.0 and running drush updb -y.

[2022-07-26 12:09] stephen-cox commented on #201
This is fixed with #206

[2022-07-26 12:09] #201 closed, assigned to nobody

[2022-07-27 14:41] finnlewis opened #215 "Search results: set consistent view mode [localgov_directories]"
As part of reviewing the search functionality, it has become apparent that there is no consistent presentation of search results across the distribution.

We need to

- [ ]  ensure each content type has a search_result display node
- [ ]  configure the search_result display mode to have the appropriate fields

In the case of localgov_directories, we need to ensure appropriate configuration for

-

[2022-08-11 13:02] andybroomfield commented on #213
This is resolved.

[2022-08-11 13:02] #213 closed, assigned to nobody

[2022-08-11 13:04] andybroomfield opened #219 "Can't uninstall and reinstall localgov_directories_db"
Get following error message when trying `drush pmu localgov_directories_db -y; drush en localgov_directories_db -y`

Should the server be uninstalled with the module? Or put in config optional?

[2022-08-11 13:17] ekes commented on #219
I was more on you shouldn't install it twice. It's a starter kit. It certainly shouldn't be uninstalled with the module, you may well be using the db and have made changes to it, and not want the module updates - I guess we might try and do updates, but then I'm not that sure. If you have installed it, uninstall it, and then install again because you want updates... phhh... then I guess we'd have

[2022-08-15 11:35] andybroomfield commented on #219
Thanks for the explainer @ekes.
[Looking at the code](https://github.com/localgovdrupal/localgov_directories/blob/2.x/modules/localgov_directories_db/localgov_directories_db.install) though, it does appear the intention is the module can be uninstalled and installed, and if the config for the directories index exists, just assign it to the directories db server. This suggests to me a workflow wher

[2022-08-17 09:41] markconroy commented on #193
Hi All

Any update on this? It's become an issue on the site we are working on for Essex currently. If there's no update, is there anything we can do to progress it?

[2022-08-17 13:13] andybroomfield commented on #193
Not had chance to cover as on other projects.

The code block above does work, but needs to be applied to its own facet / query plugin.
The link to the Drupal issue should be what needs to be done if someone has time to do an implementation.

[2022-09-06 07:42] #215 closed, assigned to andybroomfield

[2022-09-06 15:10] markconroy opened #221 "Add embed views to promo content type"

[2022-09-07 07:49] #221 closed, assigned to nobody

[2022-09-12 13:57] stephen-cox opened #225 "No pathauto config for directory promo pages"

[2022-09-12 14:01] stephen-cox opened #226 "Move rich content editing (layout paragraphs) to it's own tab"
At the moment the rich content section of the promo page appears at the bottom of the node edit form whichever tab is selected. Should it be moved to it's own 'content' tab?

[2022-09-12 14:40] stephen-cox opened #227 "Installing Directories without the Directories DB module causes WSOD when viewing directory channel pages"
On a fresh LocalGov install, enable localgov_directories_page (which enables localgov_directories_page, localgov_directories, search_api, search_api_db, facets), create some directory facets, and then a directory channel. The error below is displayed when trying to view the directory channel. Enabling the localgov_directories_db module fixes the issue.

Should we be enabling the localgov_directori

[2022-09-12 14:55] stephen-cox opened #228 "Broken/missing handler on Directory Channel view"
On fresh installs, after enabling directories, the contextual filters are broken; it just says Broken/missing handler. This means that once the Demo module is enabled all directory items are listed on all directory channels.

The message from the broken handler is

[code]

[2022-09-12 15:05] stephen-cox commented on #228
It appears the Directory channels, Content datasource is missing from the available contextual filters.

[2022-09-12 15:14] stephen-cox commented on #228
@ekes It looks like this problem doesn't effect the 2.2.0 release. Has something changed in spinning out the localgov_directories_db module that would remove the Content datasource: Directory channels, contextual filter?

[2022-09-13 15:56] msayoung opened #229 "(Empty) map displays in directory channel"
Steps to reproduce:

1. add a directory channel
2. add promo pages
3. visit channel
4. see an empty map

[2022-09-22 13:50] stephen-cox opened #231 "Directory facets aren't rendered when configured as a dropdown"
In the facet options for the Directory Facet it's possible to set the widget to a dropdown, but this renders a dropdown with only a 'Choose` option and a the word Facet Facet underneath.

![image](https://user-images.githubusercontent.com/7189914/191765050-ef269092-06ed-4259-bf9d-2c430129372c.png)

There's no Twig template in the module for a dropdown facet and the one in the base theme doesn't ha

[2022-09-26 13:33] #231 closed, assigned to stephen-cox

[2022-09-26 13:51] finnlewis commented on #228
I also see this on a fresh install.

1. Enable  localgov_directories_promo_page
2. Create a directory facet
3. Create a new directory channel
4. Select facet type
5. Select promo page as a content type

[code]

[2022-09-26 14:20] ekes commented on #227
This is a 'bug' in facets I think. When there is a disabled index Search API reports 'Cannot search on a disabled index.'; but it seems here Facets is still going ahead and trying to render.

I'll look to see if we can't:-
  (a) make sure we tell users to enable a search backend, so that the index is enabled;
  (b) fix the facets block to do the same as Search API to report a disabled index.

[2022-09-26 14:53] ekes commented on #227
(b) My not very much tested patch https://www.drupal.org/project/facets/issues/3311856
To be more convincing I'd need to check it against all the different situations that the block can be in.

[2022-09-28 15:47] ekes commented on #228
I _now_ have failing tests for the sort field too. I'll add some more as well to make sure we always have these fields.

Seems the fields aren't being imported when the search is disabled, really I don't see why they should be imported when it's enabled but they aren't associated with a content type, so we've probably been lucky so far.

I'm separating these out into more fields, like the existing

[2022-09-29 08:14] ekes commented on #228
https://github.com/localgovdrupal/localgov_directories/pull/233

Amusingly that test that wasn't failing when we merged the changes is still failing now it works in manual testing :thinking:

[2022-10-05 13:42] #196 closed, assigned to nobody

[2022-10-05 13:47] msayoung opened #237 "Enquires address field inconsistent defaults between page and promo page"
Because the address country defaults to the UK, this prints the Enquiry address even if we haven't entered one.

Options
- don't set the default country
- make this field required.
- do some magic in localgov_base to check that more than the country is entered before we print it.

thoughts?

cc @markconroy

![image](https://user-images.githubusercontent.com/3852805/194076281-35d89be4-ace0-4cd0-9bd

[2022-10-05 15:02] markconroy commented on #237
I've just been telling people to set that field to empty if they mean for it to be empty.

Not having a default would fix it.

[2022-10-06 11:10] andybroomfield opened #238 "Directorty entries not filtered by channel [Fresh install, demo content]"
Just did a new spin up of localgov_directories with `composer install; drush si localgov -y; drush en localgov_demo -y`
and spotted that the directory channel Money, employment and training is showing national parks and localgov collaborators too.

Might be a demo content issue, it seems some entries arn't assigned to a directory, but worth checking if fresh installs arn't getting filtered correct

[2022-10-06 11:22] ekes commented on #238
A views filter, and the additional fields on the index, were broken for new installs until https://github.com/localgovdrupal/localgov_directories/pull/233

Is it possible to check that (a) it installed with the version that includes that (b) that the channels field is on the index. If so I suspect it'll be a demo content issue. **edit** or maybe in needs a re-index? Because the content may well ha

[2022-10-06 11:37] andybroomfield commented on #238
I had the branch for #235 checked out, I assume that was before the fix.
However I'm still seeing some parks on the money directory, no mixes on the others and the views contextual filter is present.
It looks like a demo content issue, as when I assign them the correct channel they appear there.
Rebuilding the search index fixes the issue, bit strange the money one was the one they where on.
I thi

[2022-10-06 11:37] #238 closed, assigned to nobody

[2022-10-07 10:32] ekes commented on #229
Argh.

So the map gets hidden if there are no results. But there are results they just don't have a location. But we can't filter on them having a location, because that's not indexed by Search API (guess we'd need Adnan's patch to do that, and it's not consistent for all versions of MySQL).

The features are put into the attachment of the render array. So you can't hide the map based on if they a

[2022-10-10 13:46] #229 closed, assigned to ekes

[2022-10-12 11:44] msayoung opened #240 "Directory promo page display bug"
![Image](https://user-images.githubusercontent.com/3852805/194077132-7863c92f-fa49-4610-ac54-7b501dd8ca09.png)

[2022-10-17 13:16] msayoung commented on #240
https://github.com/localgovdrupal/localgov_directories/pull/241

[2022-10-19 07:31] stephen-cox commented on #227
Fixed with #233

[2022-10-19 07:31] #227 closed, assigned to ekes

[2022-10-19 07:31] stephen-cox commented on #228
Fixed with #233

[2022-10-19 07:31] #228 closed, assigned to ekes

[2022-10-20 11:23] finnlewis opened #249 "[error] Block localgov_directories_channel_search_block is missing. Cannot update its visibility settings."
On a fresh install, I get this:

[code]

@ekes @stephen-cox any ideas how to address this?

[2022-10-20 11:38] stephen-cox commented on #249
The code that generates this error adds the directory search block to the sidebar of directory content types.

I've proposed removing the error message as it serves no purpose https://github.com/localgovdrupal/localgov_directories/issues/194.

I also wondered about removing all the code that generates this stuff (https://github.com/localgovdrupal/localgov_directories/issues/203), but Andy suggeste

[2022-10-24 14:32] msayoung commented on #240
needs a release of localgov_paragraphs

[2022-10-26 14:16] ekes opened #243 "Facets (string value) should be included in search render for fulltext search"
Enable in this view mode:

https://github.com/localgovdrupal/localgov_directories/blob/5a4c973b8046493168246566d8718b6c28fb76b9/config/install/core.entity_view_display.node.localgov_directory.search_index.yml#L44

[2022-10-26 15:28] siliconmeadow opened #244 "Errors when installing site from existing configuration"
I have been trying to create a site from existing configuration for aid in our CI/CD processes, but am getting fatal errors with both the `localgov_directories_page` module and the `localgov_directories_org` module.

__Note:__ I've been using the patch from [issue 2982052 comment #80](https://www.drupal.org/files/issues/2022-05-19/2982052-80.patch) to allow config from a profile which contains an

[2022-10-26 15:32] siliconmeadow commented on #244
I will capture the output of what happens when I try to use the `localgov_directories_org` module at some stage. Need to step away from the computer for a while now.

[2022-10-27 11:59] stephen-cox commented on #244
I have managed to reproduce this when enabling the Demo module after a site install, but not just enabling directories and search as mentioned above.

Verbose output showing the error looks like:

[code]

[2022-10-27 12:01] stephen-cox commented on #244
From the stacktrace above, it looks like an issue with `localgov_workflows`

[2022-10-27 19:39] Adnan-cds opened #246 "Search block appearing with pre-populated keyword"
## How to reproduce
1. Open a Directory channel page as an anonymous user.
2. Copy the URL from the browser's address bar.
3. Clear **Drupal cache**.
4. Search the channel from the Directory search form in the left sidebar.
5. Load the URL from step 2.
6. The search block should be **pre-populated** even though no search has been performed in the previous step.  This is due to wrong cache context

[2022-11-07 13:59] #246 closed, assigned to Adnan-cds

[2022-11-11 06:10] siliconmeadow commented on #244
Ah, I had done this so many times and in verbose mode too. I remember seeing something to do with transitions and workflows in those earlier runs, but I'd been using config on one of the Essex sites that had quite a bit of variation from the initial installation. I figured if I was going to get help trying to solve the problem, I'd have to have a generic OOTB installation, plus I know that when tr

[2022-11-23 14:42] msayoung opened #248 "Directory Promo Page showing more fields for Enquiry address"
![Image](https://user-images.githubusercontent.com/3852805/203565651-33a5cbae-9e2d-409d-963e-5c44d45059ee.png)

[2022-11-23 14:43] msayoung commented on #248
The Directory Venue doesn't have the required First name and Last name fields.
I think the Directory Promo Page should follow suit

[2022-11-29 15:28] finnlewis commented on #249
Thanks @stephen-cox ! It would be really good to fix this, it is a cause for concern for developers installing microsites and seeing red errors!

I like the idea of following up the suggestion on #194 ?

I'll create a branch and a PR